<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/programas-individual/estilosProgramas.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/programas-individual/madiasProgramas.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2? family=Dancing+Script&display=swap">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    
    <title>Tertulias</title>
</head>
<body>
    
    <div class="container-fluid bg-light" style=" padding: 0px 0px;">

        <div class="contend_1 text-center">
            <h1 id="title1">PROGRAMACIÓN DE TERTULIAS</h1>
        </div>

        <div class="contend_3 ">

            <div class = "descripcion contend_4 text-center">
                <p>Programa de entrevistas a personalidades representativas de la Universidad de Guayaquil 
                  que generan noticia o son portavoces de acontecimientos de gran relevancia para la comunidad universitaria.</p>
            </div>


            <div class="row conductor">
                <div class="col-md-4 text-center" style="margin-bottom: 2%;">
                  <img src="../../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/ANDREA-YAN-1-01.jpg" class="rounded-circle foto"  alt="Andrea YAn" >
                </div>

                <div class="col-md-8">
                  <table class="tablaconductor text-center">
                    <thead>
                      <tr>
                        <th class="titleconductor">Andrea Yan</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <p id="biografiaAndreaYan">Influencer, traveller, cáster y presentadora. 
                            Ingeniera comercial, asesora en Marketing y actualmente, estudiante de la carrera de Comunicación. </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>

          <hr>

            <div class="row text-center">
              <div class="col-md-3">

              </div>
              <div class="col-md-3">
                <h4 class="equipo">Asistente de Producción: Lorena Paladines</h4>
              </div>
              <div class="col-md-3">
                <h4 class="equipo">Control Máster: Francisco Zambrano</h4>
              </div>
              <div class="col-md-3">
                
              </div>
            </div>

            <hr>

            <div class="row fila">
                
                <div class="col-md-3 text-center">
                     <div>
                      <iframe class="video" src="https://www.youtube.com/embed/cQbHwmUBBpA" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>

                     <div class="col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>Tertulias #1</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">Conversaremos con dos asistentes partes de la Comisión  de Intervención 
                                  y Fortalecimiento Institucional de la Universidad de Guayaquil la Dra. Monserrat Bustamante 
                                  y la Phd. Ingrid Estrella sobre el tema: "La Modalidad Online un Balance del Primer Parcial".</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                    </div>
                </div>

                <div class="col-md-3 text-center">
                    <div>
                      <iframe class="video" src="https://www.youtube.com/embed/nRDyvfIkuqU" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>Tertulias #2</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">En este programa tendremos como invitado al Dr. Tito Palma, decano de la Facultad de Jurisprudencia 
                                  de la Universidad de Guayaquil, quien nos contará sobre los consultorios de mediación que ofrecen 
                                  los estudiantes a la comunidad universitaria.</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>

                <div class="col-md-3 text-center" >
                    <div>
                      <iframe class="video" src="https://www.youtube.com/embed/Np4ftmWkEu4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>Tertulias #3</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">En el programa de hoy se conversará sobre: "El Día de la Parálisis Cerebral" junto al Dr. José Farhat, 
                                  médico psiquiatra y docente de la Facultad de Comunicación Social , también nos estará acompañando 
                                  el Lcdo. Luis Herrera García activista de los derechos se las personas con discapacidad.</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>

                <div class="col-md-3 text-center" >
                    <div>
                      <iframe class="video" src="https://www.youtube.com/embed/IFbrF0c549E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>Tertlias #4</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">Hablaremos de "El día Mundial del Bastón Blanco" con dos conocidos invitados el Lcdo. Dalton Osorno y 
                                  la Dra. Alba Barreth, ambos nos comentarán sobre las personas con discapacidad visual.</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>
            </div>

            <div class="row fila">
                
              <div class="col-md-3 text-center">
                   <div>
                    <iframe class="video" src="https://www.youtube.com/embed/i7vXxNmIgzM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                   
                  </div>
                   <div class="col-md">
                      <table class="tabla text-center">
                         <thead>
                           <tr>
                             <th>Tertulias #5</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <td>
                               <p class="parrafo">Dialogaremos con el Lcdo. Luis Miguel Castillo, la Lcda. Victoria Zambrano y el Lcdo. Livinsgton Álvarez, 
                                 docentes de la Facultad de Comunicación Social acerca de "Los desafíos de la docencia en la Universidad"</p>
                             </td>
                           </tr>
                         </tbody>
                       </table>
                  </div>
              </div>

              <div class="col-md-3 text-center">
                  <div>
                    <iframe class="video" src="https://www.youtube.com/embed/C_2sVwag3O0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

                  <div class=" col-md">
                      <table class="tabla text-center">
                         <thead>
                           <tr>
                             <th>Tertulias #6</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <td>
                               <p class="parrafo">En este programa tendremos como invitado a el Mgs. Henry Carrascal, con quien hablaremos sobre: "Derechos y garantías de los comunicadores".</p>
                             </td>
                           </tr>
                         </tbody>
                       </table>
                     </div>

              </div>

              <div class="col-md-3 text-center" >
                  <div>
                    <iframe class="video" src="https://www.youtube.com/embed/ir23bWyJp-g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>     
                  </div>

                  <div class=" col-md">
                      <table class="tabla text-center">
                         <thead>
                           <tr>
                             <th>Tertulias #7</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <td>
                               <p class="parrafo">En este programa hablaremos con el Mgs. Fernando Proaño, quien nos comentará más acerca del “Uso del software Nvivo para investigaciones cualitativas”.</p>
                             </td>
                           </tr>
                         </tbody>
                       </table>
                     </div>

              </div>

              <div class="col-md-3 text-center" >
                  <div>
                    <iframe class="video" src="https://www.youtube.com/embed/wMYcd3wvvYQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

                  <div class=" col-md">
                      <table class="tabla text-center">
                         <thead>
                           <tr>
                             <th>Tertulias #8</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <td>
                               <p class="parrafo">En este programa dialogaremos acerca de los "Profesionales de éxito graduados en Facso" con el Lcdo. Gino Molineros y la Lcda. Blanco Moncada.</p>
                             </td>
                           </tr>
                         </tbody>
                       </table>
                     </div>
              </div>
          </div>

          <div class="row fila">
                
            <div class="col-md-3 text-center">
                 <div>
                  <iframe class="video" src="https://www.youtube.com/embed/2ze7YPXfH2g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                 <div class="col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>Tertulias #9</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">Dialogaremos con LA Mgs. Leonela Macías Gestora de Titulación de la Carrera de Comunicación Social, 
                               Roberto Palacios, Joselyne Garavi, Katherine Guamizo, Estudiantes FACSO UG acerca de "Inicio de clases e inquietudes 
                               sobre el proceso de titulación para el nuevo ciclo".</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                </div>
            </div>

            <div class="col-md-3 text-center">
                <div>
                  <iframe class="video" src="https://www.youtube.com/embed/5jvlSgLG4W8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class=" col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>Tertulias #10</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">En este programa hablaremos con Fernando Gil Estrada, director del coro de la UG, quien nos comentará acerca de: 
                               “El Aporte Cultural del coro de la UG en tiempos de pandemia”</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>

            </div>

            <div class="col-md-3 text-center" >
                <div>
                  <iframe class="video" src="https://www.youtube.com/embed/YvOdufV-Mys" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class=" col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>Tertulias #11</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">En el programa de hoy se dialogará sobre los: "Logros y Desafíos de la Investigación en la UG".⁣ junto al Mgs. Samuel Guillen.</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>

            </div>

            <div class="col-md-3 text-center" >
                <div>
                  <iframe class="video" src="https://www.youtube.com/embed/nKxf9tnwZxU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class=" col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>Tertulias #12</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">Hablaremos acerca de la “Gestión del Bienestar Estudiantil en Tiempos de Pandemia y Modalidad Online”, 
                               con la Gestora de Apoyo al departamento de vinculación con la sociedad y bieniestar estudiantil</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>
            </div>
          </div>

          <div class="row fila">
                
            <div class="col-md-3 text-center">
                 <div>
                  <iframe class="video" src="https://www.youtube.com/embed/_dnKhvEdMWA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
                 <div class="col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>Tertulias #13</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">En este programa tendremos como invitada a la  Ab. Viviana Chiriboga, Coordinadora de Protección Social y Bienestar, 
                               quien nos contará sobre las Ayudas Económicas para estudiantes de la UG.</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                </div>
            </div>

            <div class="col-md-3 text-center">
                <div>
                  <iframe class="video" src="https://www.youtube.com/embed/0NnS8Dolkds" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class=" col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>Tertulias #14</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">Hoy programa hablaremos con la Ab. Viviana Chiriboga, acerca de las: "Ayudas Económicas para estudiantes de la UG"</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>

            </div>

            <div class="col-md-3 text-center" >
                <div>
                  <iframe class="video" src="https://www.youtube.com/embed/mSprI4Dm1ns" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
                <div class=" col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>Tertulias #15</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">Hablaremos acerca de “Descubrimiento de nuevas especies de plantas vasculares de América Tropical”, 
                              con el Investigador y director del Departamento de Botánica de la Facultad de Ciencias Naturales de la #universidaddeguayaquil</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>

            </div>

            <div class="col-md-3 text-center" >
                <div>
                  <iframe class="video" src="https://www.youtube.com/embed/FxjhtQAnTN4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
                <div class=" col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>Tertulias #16</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">Hablaremos acerca del “Proceso de tercera matrícula”, en compañía de la Dra Victoria León y Msc. Rosa González, 
                               quienes responderán todas sus dudas e inquitudes</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>
            </div>
          </div>

            <br>
            <br>

            <div class="text-center">
                <a href="https://www.youtube.com/watch?v=ufcexHwtg-k&list=PLNqjdRiAit_x8VtRGdswXbQBIML9NW4Gt&index=14" >
                    <img src = "../../imagenes/imgprogramas/botones-ver-mas-programas/tertulia-VER-MAS-01.png" id="btnvermasTertulias">
                </a>
            </div>

        </div>



    </div>


</body>
</html>
