<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/programas-individual/estilosProgramas.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/programas-individual/madiasProgramas.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2? family=Dancing+Script&display=swap">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    
    <title>El Café de la Ciencia Express</title>
</head>
<body>
    
    <div class="container-fluid bg-light" style=" padding: 0px 0px;">

        <div class="contend_1 text-center">
            <h1 id="title1">PROGRAMACIÓN DEL CAFÉ DE LA CIENCIA EXPRESS</h1>
        </div>

        <div class="contend_3">
              <div class = "descripcion contend_4 text-center">
                  <p>Programa que muestra la producción científica de la Facultad de Comunicación Social así como de la UG, con entrevistas a docentes investigadores, los últimos  eventos científicos y proyectos FCI mostrando la 
                    parte vivencial, con participación del público y cápsulas científicas, proporcionarle el valor académico a la programación.
                    </p>
              </div>

            <div class="row conductor">
                <div class="col-md-4 text-center" style="margin-bottom: 2%;">
                    <img src="../../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Lcdo. Troi Alvarado Chávez.png" class="rounded-circle foto"  alt="Troi Alvarado">
                </div>

                <div class="col-md-8">
                    <table class="tablaconductor text-start">
                        <thead>
                            <tr>
                                <th class="titleconductor text-center">Lcdo. Troi Alvarado Chávez</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p id="biografiaTroiAlvarado"><ul>
                                      Lcdo. Troi Alvarado, 53 años.
                                      <br>
                                      <br>
                                      <li>Licenciado en Publicidad de la Universidad de Guayaquil</li>
                                      <br>
                                      <li>Magister en Comunicación con mención en Comunicación digital de la Universidad Casa Grande</li>
                                      <br>
                                      <li>Maestrante en Universidad de las Artes. Maestría en Escritura creativa</li>
                                      <br>
                                      <li>Fundador, ex integrante y manager del grupo Tranzas</li>
                                      <br>                                                                                     
                                      <li>Músico, compositor, bajista.</li>
                                      <br>
                                      <li>Productor artístico y realizador audiovisual</li>
                                      <br>
                                      <li>Presidente de la Sociedad  de  autores y compositores del Ecuador (Sayce) 2009-2017</li>
                                      <br>
                                      <li>Docente investigador en la Facultad de Comunicación Social de la Universidad de Guayaquil</li>
                                      <br>
                                      <li>Ex Director de la carrera de Publicidad  en FACSO UG.</li>
                                      <br>
                                      <li>Subdecano de la Facultad de Comunicación Social de la Universidad de Guayaquil</li>
                                    </ul></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

          <hr>
            <div class="row text-center">
                <div class="col-md-4 ">
                    <h4 class="equipo">Locución: Romery Zurita</h4>
                </div>
                <div class="col-md-4 ">
                    <h4 class="equipo">Animadora: Doménica Avilés</h4>
                </div>
                <div class="col-md-4">
                    <h4 class="equipo">Ilustrador: Marco Espinoza</h4>
                </div>
            </div>
            <br>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="equipo">Café para la tesis: Brillite España</h4>
                </div>
                <div class="col-md-4">
                    <h4 class="equipo">Asistente de Producción: Lorena Paladines</h4>
                </div>
                <div class="col-md-4">
                    <h4 class="equipo">Edición/ Control Máster: Bryan Segovia</h4>
                </div>
            </div>

            <hr>

            <div class="row fila">
                
                <div class="col-md-3 text-center">
                     <div>
                      <iframe class="video" src="https://www.youtube.com/embed/ufgNv-3MK_Q" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>

                     <div class="col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>El Café de la Ciencia #1</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">En este Café de la Ciencia los Phd. Carlos Larrea e  Ingrid Estrella nos hablan sobre
                                    "Los nuevos retos de los investigadores en la comunicación".</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                    </div>
                </div>

                <div class="col-md-3 text-center">
                    <div>
                      <iframe class="video" src="https://www.youtube.com/embed/Z-G7T1lFm_U" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>El Café de la Ciencia #2</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">El Ing. Bruno Bodenmann y la Phd. Marjurie Noboa estarán acompañandonos con el tema: 
                                   “Lenguaje motivacional y empoderamiento psicológico de los trabajadores en ciudad de Guayaquil”.</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>

                <div class="col-md-3 text-center" >
                    <div>
                      <iframe class="video" src="https://www.youtube.com/embed/9n05sxTNK_8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>El Café de la Ciencia #3</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">Nuestra invitada la Dra. Ketty Herrera  nos hablará sobre el proyecto “Estrategias metodológicas 
                                   para la valoración del arte en los estudiantes de la Comunidad Cerrito de los Morreños en islas e islotes del 
                                   Golfo de Guayaquil” en el que además dos estudantes realizaron su proyecto de vinculación y nos relatan sus 
                                   experiencias enriquecedoras.</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>

                <div class="col-md-3 text-center" >
                    <div>
                      <iframe class="video" src="https://www.youtube.com/embed/rd2FqQWe2II" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>El Café de la Ciencia #4</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">En este programa tendremos una invitada de lujo la Mgs. Claudia Pezo quien nos hablará de su 
                                   artículo científico “Análisis Antropológico  del Lector de Crónica Roja en la Prensa Sensacionalista: 
                                   Caso Diario Extra”, también nos estará acompañando el Lcd. Rafael Hernández periodista de Ecuavisa para 
                                   profundizar más sobre el tema.</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>
            </div>

            <div class="row fila">
                
              <div class="col-md-3 text-center">
                   <div>
                    <iframe class="video" src="https://www.youtube.com/embed/ChWsrdkMsIQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                   
                  </div>
                   <div class="col-md">
                      <table class="tabla text-center">
                         <thead>
                           <tr>
                             <th>El Café de la Ciencia #5</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <td>
                               <p class="parrafo">En esta semana hablaremos sobre: “Gestión de un Plan Publicitario para las Rutas Gastronómicas 
                                 y Turísticas de la Prefectura del Guayas” con nuestros invitados: El Mgs. Samuel Guillen Herrera, y el Msc. 
                                 Henry Carrascal.</p>
                             </td>
                           </tr>
                         </tbody>
                       </table>
                  </div>
              </div>

              <div class="col-md-3 text-center">
                  <div>
                    <iframe class="video" src="https://www.youtube.com/embed/pBJgFL5_3cY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

                  <div class=" col-md">
                      <table class="tabla text-center">
                         <thead>
                           <tr>
                             <th>El Café de la Ciencia #6</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <td>
                               <p class="parrafo">En este programa nuestras invitadas: la Mgs. Victoria Zambrano Freire y la Lcda. 
                                 Irlanda Saltos, nos contarán sobre los “Géneros Radiofónicos en Frecuencia Modulada y su Influencia Comunicacional 
                                 en Conductores de Transporte Urbano de Guayaquil".</p>
                             </td>
                           </tr>
                         </tbody>
                       </table>
                     </div>

              </div>

              <div class="col-md-3 text-center" >
                  <div>
                    <iframe class="video" src="https://www.youtube.com/embed/ir23bWyJp-g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>     
                  </div>

                  <div class=" col-md">
                      <table class="tabla text-center">
                         <thead>
                           <tr>
                             <th>El Café de la Ciencia #7</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <td>
                               <p class="parrafo">En esta semana hablaremos sobre: “El consumo cinematográfico ecuatoriano y su incidencia 
                                 en la construcción de identidad cultural en estudiantes” con nuestros invitados: Mgs. Lenin Molina Andrade 
                                 y el Lcdo. Allan Muentes Yagual.</p>
                             </td>
                           </tr>
                         </tbody>
                       </table>
                     </div>

              </div>

              <div class="col-md-3 text-center" >
                  <div>
                    <iframe class="video" src="https://www.youtube.com/embed/9Jntyoj_C3s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

                  <div class=" col-md">
                      <table class="tabla text-center">
                         <thead>
                           <tr>
                             <th>El Café de la Ciencia #8</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <td>
                               <p class="parrafo">En esta semana hablaremos sobre: “Gestión de la comunicación publicitaria-digital para el 
                                 desarrollo sociocultural en comunidades de Guale y Chongón" con nuestras invitadas:  Mgs. Guadalupe Vernimmen
                                  Aguirre y la⁣ Dra. Ketty Herrera</p>
                             </td>
                           </tr>
                         </tbody>
                       </table>
                     </div>
              </div>
          </div>

          <div class="row fila">
                
            <div class="col-md-3 text-center">
                 <div>
                  <iframe class="video" src="https://www.youtube.com/embed/eQn_N2z72gM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                 <div class="col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>El Café de la Ciencia #9</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">Esta semana hablaremos con nuestras invitadas: Mgs. María Teresa Mendoza y Lcda. 
                               Kristell Otero Pincay, sobre: “La Comunicación Audiovisual como estrategia de promoción de los destinos 
                               turísticos de la provincia del Guayas"</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                </div>
            </div>

            <div class="col-md-3 text-center">
                <div>
                  <iframe class="video" src="https://www.youtube.com/embed/PejUQpWOi0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class=" col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>El Café de la Ciencia #10</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">Nuestros invitados la Mgs. Jenny Medina y el Mgs. José Rivera, nos hablaran acerca de las: 
                               "Externalidades positivas del área nacional de recreación isla Santay cantón Durán provincia del Guayas</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>

            </div>

            <div class="col-md-3 text-center" >
                <div>
                  <iframe class="video" src="https://www.youtube.com/embed/XazJWvHrKhQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class=" col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>El Café de la Ciencia #11</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">Acompáñanos junto a nuestro invitado Mgs. Fernando Proaño Sánchez para abordar el tema de: 
                               "Estudio de negocios familiares liderados por mujeres bajo contexto de pobreza en el Guayas</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>

            </div>

            <div class="col-md-3 text-center" >
                <div>
                  <iframe class="video" src="https://www.youtube.com/embed/nKxf9tnwZxU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class=" col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>El Café de la Ciencia #12</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">Tema: Estrategias para el abordar el tema del Covid-19 desde la perspectiva social, 
                               educativa y psicología en nuestra Alma MaterEste miércoles 3 de febrero a las 2pm la PhD Daisy Meza Palma 
                               nos estará brindando información relevante acerca de este interesante tema.</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>
            </div>
          </div>

          <div class="row fila">
                
            <div class="col-md-3 text-center">
                 <div>
                  <iframe class="video" src="https://www.youtube.com/embed/_dnKhvEdMWA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
                 <div class="col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>El Café de la Ciencia #13</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">Dr. Gabriel Morey Coordinador de investigación y Gestión quien nos estará brindando detalles 
                               de la semana de la ciencia de la Universidad de Guayaquil.</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                </div>
            </div>

            <div class="col-md-3 text-center">
                <div>
                  <iframe class="video" src="https://www.youtube.com/embed/UiEzedXq64k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class=" col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>El Café de la Ciencia #14</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">Café de la ciencia Express: estaremos analizando los planes de gobierno de los candidatos a la 
                               Presidencia de la República, estaremos en compañía del MPP. Manuel Macías Balda, Lic., Facultad de Jurisprudencia. Ciencias Sociales y Políticas.</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>

            </div>

            <div class="col-md-3 text-center" >
                <div>
                  <iframe class="video" src="https://www.youtube.com/embed/vrQ0386vAQo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
                <div class=" col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>El Café de la Ciencia #15</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">Café De La Ciencia Express.: Abordaremos un tema de interés junto a la Mgs. Ericka Figueroa Martínez, 
                               donde hablaremos acerca de los Dispositivos Pedagógicos e Investigativos en el Aseguramiento de la Calidad de Titulación,
                                importante para salvaguardar la calidad de nuestros proyectos.</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>

            </div>

            <div class="col-md-3 text-center" >
                <div>
                  <iframe class="video" src="https://www.youtube.com/embed/FxjhtQAnTN4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
                <div class=" col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>El Café de la Ciencia #16</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">Café De La Ciencia Express: Abordaremos un tema de interés junto a nuestras invitadas Mgs. 
                               Alejandra García Suárez y Mgs. Olga Bravo Santos, quienes nos presentarán sus Semilleros: "Fuentes de información 
                               en proyectos de titulación “ y “Comunicación asertiva en el proceso de titulación de las carreras de la Facultad de Filosofía,
                                Letras y Ciencias de la Educación” compartiremos información para optimizar tus trabajos de titulación.</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>
            </div>
          </div>

            <br>
            <br>

            <div class="text-center">
              <a href="https://www.youtube.com/watch?v=REcPIB08TtU&list=PLNqjdRiAit_yMG1ijP_d0lN1U-LYRh5yv&index=17" target="_blank">
                  <img src = "../../imagenes/imgprogramas/botones-ver-mas-programas/cafe de la ciencia ver mas-01-01.png" id="btnvermasCienciaExpress">
              </a>
            </div>

        </div>



    </div>


</body>
</html>