<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/programas-individual/estilosProgramas.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/programas-individual/madiasProgramas.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2? family=Dancing+Script&display=swap">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    
    <title>Las Cartas Sobre La Mesa</title>
</head>
<body>
    
    <div class="container-fluid bg-light" style=" padding: 0px 0px;">

        <div class="contend_1 text-center">
            <h1 id="title1">PROGRAMACIÓN DE LAS CARTAS SOBRE LA MESA</h1>
        </div>

        <div class="contend_3 ">

            <div class = "descripcion contend_4 text-center">
                <p>Las Cartas Sobre la Mesa es nuestro programa de mesa redonda los temas de la coyuntura nacional con una moderadora y algunos panelistas que 
                    muestran sus criterios diversos para brindar elementos de juicio a nuestros seguidores en cada transmisión.</p>
            </div>


            <div class="row conductor">
                <div class="col-md-4 text-center" style="margin-bottom: 2%;">
                  <img src="../../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/Conductora-Jeoconda-Loor-01.jpg" class="rounded-circle foto"  alt="Jeoconda Loor" >
                </div>

                <div class="col-md-8">
                  <table class="tablaconductor text-start" >
                    <thead>
                      <tr>
                        <th class="titleconductor text-center">Lcda. Jeoconda Loor Chacay, Msc.</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <p id="biografiaAndreaYan"><ul>
                                                    <li>Magister en Dirección de Comunicación Empresarial e Institucional - Universidad de la Américas (UDLA)</li>
                                                       <br>
                                                       <li>Licenciada en Ciencias de la Comunicación Social - Universidad de Guayaquil (UG)</li>
                                                     <br>
                                                     <li>Docente Certificada en Educación Superior en Línea - Universidad Estatal de Milagro (Unemi)</li>
                                                     <br>
                                                     <li>17 años de experiencia en comunicación periodística y comunicación política (10 años dedicados a la Televisión en canales 
                                                       como Ecuavisa, Ecuador tv, Gama tv)</li>
                                                       <br>
                                                       <li>Asesora externa en Comunicación Estratégica empresarial</li> 
                                                    </ul>
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>

          <hr>

          <div class="row text-center">
            <div class="col-md-4 ">
                <h4 class="equipo">Coordinadora: Romery Zurita</h4>
            </div>
            <div class="col-md-4 ">
                <h4 class="equipo">Asistente de Producción: Gabriela Viteri</h4>
            </div>
            <div class="col-md-4">
                <h4 class="equipo">Reportero: Andrés Álava</h4>
            </div>
        </div>
        <br>
        <div class="row text-center">
            <div class="col-md-4">
                <h4 class="equipo">Edición/ Control Máster: Gabriel Muzo</h4>
            </div>
            <div class="col-md-4">
                <h4 class="equipo">Ilustrador: Marco Espinoza</h4>
            </div>
            <div class="col-md-4">
                <h4 class="equipo">Animadora: Doménica Avilés</h4>
            </div>
        </div>

            <hr>

            <div class="row fila">
                
                <div class="col-md-3 text-center">
                     <div>
                      <iframe class="video" src="https://www.youtube.com/embed/BETOZFHbGqs" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>

                     <div class="col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>Las Cartas Sobre La Mesa #1</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">Manejo de la Comunicación en la Campaña Política, elecciones 2021. 
                                    ➡️Gracias por acompañarnos en la primera transmisión de nuestro programa “Cartas sobre la mesa”  🤗🤩</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                    </div>
                </div>

                <div class="col-md-3 text-center">
                    <div>
                      <iframe class="video" src="https://www.youtube.com/embed/t-RwIJNQacs" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>Las Cartas Sobre La Mesa #2</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">Estaremos abordando un tema de interés para todos quienes conformamos la Universidad de Guayaquil ya que estaremos analizando las propuestas de campañas por parte de 
                                     las listas A y B, en compañía de los representantes de los estudiantes por parte de ambas listas.</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>

                <div class="col-md-3 text-center" >
                    <div>
                      <iframe class="video" src="https://www.youtube.com/embed/kcIo79dqZcY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>Las Cartas Sobre La Mesa #3</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">Como estudiantes de la UG es nuestra deber elegir con responsabilidad a nuestro rector, tanto por nosotros como por las generaciones que están por ingresar a 
                                     nuestra Alma Mater. Por eso en nuestro programa Cartas sobre la mesa estaremos analizando este interesante tema con el propósito de que cada uno ejerza un voto responsable y 
                                     consciente.</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>

                <div class="col-md-3 text-center" >
                    <div>
                      <!--<iframe class="video" src="https://www.youtube.com/embed/duy4DD3T99M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                      <a href="https://www.youtube.com/watch?v=duy4DD3T99M&list=PLNqjdRiAit_yN1yrqMAQYdzEC7qb7wC8M&index=4" target="_blank">
                        <img src="../../imagenes/imgprogramas/botones-ver-programa-especifico/FONDO CARTAS 4.jpg" alt="CSLAMESA#4" class="btn-cartsoblamesa">
                      </a>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>Las Cartas Sobre La Mesa #4</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">"Análisis del Plan de Gobierno de Andrés Arauz". Como ciudadanos es nuestro deber estar informados sobre las propuestas planteadas por los candidatos elegidos 
                                     para la segunda vuelta electoral.</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>
            </div>

            <div class="row fila">
                
              <div class="col-md-3 text-center">
                   <div>
                    <!--<iframe class="video" src="https://www.youtube.com/embed/b9XcplkHv5s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                    <a href="https://www.youtube.com/watch?v=b9XcplkHv5s&list=PLNqjdRiAit_yN1yrqMAQYdzEC7qb7wC8M&index=5" target="_blank">
                      <img src="../../imagenes/imgprogramas/botones-ver-programa-especifico/FONDO CARTAS 5.jpg" alt="CSLAMESA#5" class="btn-cartsoblamesa">
                    </a>        
                  </div>
                   <div class="col-md">
                      <table class="tabla text-center">
                         <thead>
                           <tr>
                             <th>Las Cartas Sobre La Mesa #5</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <td>
                               <p class="parrafo">Invitados: Ab. Irene valencia Balladares MGS, Arquitecto Franklin Torres Chávez, EC. Ángel Maridueña MGS, estaremos analizando el plan de Gobierno de 
                                   Guillermo Lasso.</p>
                             </td>
                           </tr>
                         </tbody>
                       </table>
                  </div>
              </div>

              <div class="col-md-3 text-center">
                  <div>
                    <iframe class="video" src="https://www.youtube.com/embed/lYFxFcLRI2o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

                  <div class=" col-md">
                      <table class="tabla text-center">
                         <thead>
                           <tr>
                             <th>Las Cartas Sobre La Mesa #6</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <td>
                               <p class="parrafo">Realizaremos un Análisis Del Plan De Vacunación, en compañía del Dr. Ricardo Ramírez, Lic. Jairo Javier Álvarez Salvatierra y Dr. Jorge Carvajal Andrade quienes 
                                   barajan las cartas con nosotros desde su punto de vista profesional.</p>
                             </td>
                           </tr>
                         </tbody>
                       </table>
                     </div>

              </div>

              <div class="col-md-3 text-center" >
                  <div>
                    <iframe class="video" src="https://www.youtube.com/embed/XP_OIywpf5M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>     
                  </div>

                  <div class=" col-md">
                      <table class="tabla text-center">
                         <thead>
                           <tr>
                             <th>Las Cartas Sobre La Mesa #7</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <td>
                               <p class="parrafo">Hablaremos de los Protocolos De Bioseguridad Para La Segunda Vuelta Electoral en compañía de Gabriel Ordóñez Guzmán, Jorge Villalta Villalta y Ernesto Espinales 
                                   Vélez expertos en el tema que nos informarán como protegernos para las elecciones en tiempos de Covid-19</p>
                             </td>
                           </tr>
                         </tbody>
                       </table>
                     </div>

              </div>

              <div class="col-md-3 text-center" >
                  <div>
                    <!--<iframe class="video" src="https://www.youtube.com/embed/Ed_M9StBfgk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                    <a href="https://www.youtube.com/watch?v=Ed_M9StBfgk&list=PLNqjdRiAit_yN1yrqMAQYdzEC7qb7wC8M&index=8" target="_blank">
                      <img src="../../imagenes/imgprogramas/botones-ver-programa-especifico/FONDO CARTAS 8.jpg" alt="CSLAMESA#8" class="btn-cartsoblamesa">
                    </a>
                  </div>

                  <div class=" col-md">
                      <table class="tabla text-center">
                         <thead>
                           <tr>
                             <th>Las Cartas Sobre La Mesa #8</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <td>
                               <p class="parrafo">Hablaremos de la Nueva Asamblea, en compañía de Francisco Jiménez Sánchez, Walter Gómez Ronquillo y Ricardo Vanegas Córtazar asambleístas electos, quienes nos 
                                   informarán y barajan las cartas sobre esta suceso que está cerca de comenzar.</p>
                             </td>
                           </tr>
                         </tbody>
                       </table>
                     </div>
              </div>
          </div>

          <div class="row fila">
                
            <div class="col-md-3 text-center">
                 <div>
                  <iframe class="video" src="https://www.youtube.com/embed/JydrxRfrJ1o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                 <div class="col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>Las Cartas Sobre La Mesa #9</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">El arte es la expresión de nuestras ideas culturales, ya sea por medio de la música, literatura o pintura. Necesitamos saber el estado del arte y la cultura en el 
                                 Ecuador, estaremos analizando las políticas de desarrollo artístico cultural de nuestro país.</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                </div>
            </div>

            <div class="col-md-3 text-center">
                <div>
                  <iframe class="video" src="https://www.youtube.com/embed/9UhAjCYWgrs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class=" col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>Las Cartas Sobre La Mesa #10</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">Dialogaremos acerca de la Situación Laboral del Ecuador, en compañía de nuestros invitados Jacinto Bajaña Granja, Juan Vareles Cabrera y Karina Arteaga Muñoz 
                                 quienes nos informarán de las últimas novedades que atraviesa el país en este tema importante a tratar.</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>

            </div>

            <div class="col-md-3 text-center" >
                <div>
                  <iframe class="video" src="https://www.youtube.com/embed/0dMKpBF9uHg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class=" col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>Las Cartas Sobre La Mesa #11</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">Abordaremos un tema especial, Madres En Tiempo De Pandemia‍. Contaremos con la compañía de Angélica Zambrano Calvache - Docente , Alba Barreth Gónzalez - 
                                 Directora de Carrera y Lissett Martínez León -Psicóloga Clínica, con quienes conversaremos sobre la lucha del día a día que atraviesa mamá en tiempos de Covid-19.</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>

            </div>

            <div class="col-md-3 text-center" >
                <div>
                  <iframe class="video" src="https://www.youtube.com/embed/4znDf5MXFGI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class=" col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>Las Cartas Sobre La Mesa #12</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">Hablaremos acerca de la Plan de Vacunación, en compañía de nuestros invitados Nagib Chagerbén Hinostroza, Diana Aguilar Pita y Francisco Plaza Bohórquez, con quienes 
                                 dialogaremos sobre las últimas novedades por las que atraviesa este proceso, cuyo objetivo es inmunizar y reactivar de manera progresiva a la población.</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>
            </div>
          </div>

          <div class="row fila">
                
            <div class="col-md-3 text-center">
                 <div>
                  <iframe class="video" src="https://www.youtube.com/embed/PGcAZ3hy2wQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
                 <div class="col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>Las Cartas Sobre La Mesa #13</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">Abordaremos un tema de interés para la comunidad La Nueva Gestión De La UG. En compañía de nuestro rector Dr. Francisco Morán, Sofía Lovato Torres- Vicerrectora, 
                                 Natalia Anchundia Garay- Representante de Estudiantes y Wladimir Soria Freire- Representante de Docentes de la Universidad.</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                </div>
            </div>

            <div class="col-md-3 text-center">
                <div>
                  <iframe class="video" src="https://www.youtube.com/embed/oaU3p3ivjl4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class=" col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>Las Cartas Sobre La Mesa #14</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">Hablaremos acerca de la Despenalización del aborto en casos de Violación, en compañía del Abogado penalista Freddy Castillo, la Activista feminista pro-aborto Wendy 
                                 Rosero Toledo y el Coordinador de Juventud Provida Ecuador Eduardo Moreno Gallegos.</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>

            </div>

            <div class="col-md-3 text-center" >
                <div>
                  <iframe class="video" src="https://www.youtube.com/embed/wuvWUI9s9TQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
                <div class=" col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>Las Cartas Sobre La Mesa #15</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">Hablaremos acerca del Incremento en los Precios de Combustibles, en compañía de nuestros invitados: Silvana Pástor Tapia - VP financiera de GenteOil Ecuador 
                                 (Operadora Petrolera), Kevin Rojas Obando - Economista, Oswaldo Guamán Martínez - Presidente de la Federación Nacional de Transporte Escolar e Institucional del Ecuador, 
                                Víctor Anchundia Tello - Presidente de la Cámara de Gremios de Transporte de las Diferentes Modalidades de la Provincia del Guayas, con quienes analizaremos este importante 
                                tema que rige en el país desde mayo pasado.</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>

            </div>

            <div class="col-md-3 text-center" >
                <div>
                  <iframe class="video" src="https://www.youtube.com/embed/oKdp6JIoCrg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
                <div class=" col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>Las Cartas Sobre La Mesa #16</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">Traemos para ti todo lo que tienes que saber acerca del Buró de Crédito y la viabilidad del decreto 33. 
                                 Estarán acompañándonos en el tema Cintia Rizo Carriel analista de crédito, Patricio Maya Mendoza especialista en administración de microfinanzas y Josué A. Johnson gerente general 
                                 de Redfone S.A.</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>
            </div>
          </div>

            <br>
            <br>

            <div class="text-center">
                <a href="https://www.youtube.com/watch?v=mTRomQDbPww&list=PLNqjdRiAit_yN1yrqMAQYdzEC7qb7wC8M&index=17" target="_blank">
                    <img src = "../../imagenes/imgprogramas/botones-ver-mas-programas/VER MAS CARTAS-01.png" id="btnvermasCartasSobreLaMesa">
                </a>
            </div>

        </div>



    </div>


</body>
</html>