<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/programas-individual/estilosProgramas.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/programas-individual/madiasProgramas.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2? family=Dancing+Script&display=swap">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    
    <title>El Editorial</title>
</head>
<body>
    
    <div class="container-fluid bg-light" style=" padding: 0px 0px;">

        <div class="contend_1 text-center">
            <h1 id="title1">PROGRAMACIÓN DEL EDITORIAL</h1>
        </div>

        <div class="contend_3 ">

            <div class = "descripcion contend_4 text-center">
                <p>Pronunciamiento de la máxima autoridad de la Facultad de Comunicación Social y Representante Legal de La U EnLínea, 
                    con una opinión crítica y objetiva sobre los sucesos que hacen noticia, dentro y fuera de nuestra Alma Mater.</p>
            </div>


            <div class="row conductor">
                <div class="col-md-4 text-center" style="margin-bottom: 2%;">
                  <img src="../../imagenes/imgautoridades/Ps.-Cl.-Saadda-Fatuly-Adum-Mgs-Decana-01-01.png" class="rounded-circle foto"  alt="Pamela Mendoza" >
                </div>

                <div class="col-md-8">
                  <table class="tablaconductor text-start" >
                    <thead>
                      <tr>
                        <th class="titleconductor text-center">Ps. Cl. Saadda Fatuly Adum, Mgs. - Decana</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <p id="biografiaAndreaYan"><ul>
                                                     ESTUDIOS REALIZADOS
                                                     <br>
                                                     <br> 
                                                     PRIMARIA: 
                                                     <br>
                                                     <br>
                                                     <li>Colegio  Las Mercedarias.</li>
                                                     <br>                                                                     
                                                     SECUNDARIA: 
                                                     <br>
                                                     <br>
                                                     <li>Colegio Sto. Domingo de Guzmán.</li>
                                                     <br>                                                                                                           
                                                     <li>Union City Community High School. Indiana – EE.UU.</li>
                                                     <br>                                                                                                                                                             
                                                     SUPERIOR:
                                                     <br>
                                                     <br>
                                                     <li>Universidad Católica de Guayaquil. Título obtenido: Psicóloga Clínica.</li>
                                                     <br>
                                                     <li>Universidad  de Guayaquil. Título obtenido: Lcda. en  Diplomacia y Ciencias Internacionales.</li>
                                                     <br>
                                                     <li>Universidad de Guayaquil. Título obtenido: Lcda. en  Ciencias de la  Comunicación.</li>
                                                     <br>
                                                     MASTERADOS:
                                                     <br>  
                                                     <br>
                                                     <li>Master en Administración Pública con Mención en Liderazgo, Escuela Superior Politécnica del Litoral.</li>
                                                     <br> 
                                                     <li>Egresada del Doctorado en Comunicación Social, Universidad Nacional de Loja.</li>
                                                     <br>
                                                     <li>Master en Ciencias Internacionales y Diplomacia, Universidad  de Guayaquil.</li>
                                                     <br>
                                                    </ul>
                            </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>

            <hr>

            <div class="row fila">
                
                <div class="col-md-3 text-center">
                     <div>
                        <iframe class="video" src="https://www.youtube.com/embed/dO9Cn7acFCE" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>

                     <div class="col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>El Editorial #1</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">Inicio de clases online: La modalidad online nos desafía a todos a salir de la zona de confort, una modalidad que nos exige más pero que nos acerca a la excelencia, 
                                   investigando, gestionando proyectos, creando aulas virtuales y  tomando asignaturas.</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                    </div>
                </div>

                <div class="col-md-3 text-center">
                    <div>
                      <iframe class="video" src="https://www.youtube.com/embed/-E5EUIflWrE" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>El Editorial #2</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">Llamado a la paz: Ante la violencia respondamos con inteligencia, si callamos no es porque tememos sino porque somos màs sabios.</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>

                <div class="col-md-3 text-center" >
                    <div>
                      <iframe class="video" src="https://www.youtube.com/embed/_-aTOj5VqRo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>El Editorial #3</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">La Superación: Es la capacidad de inteligencia para alcanzar los objetivos y crecer a pesar de las adversidades....la constancia, paciencia, tenacidad y pasión 
                                   son las cualidades que acompañan a este proceso.</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>

                <div class="col-md-3 text-center" >
                    <div>
                      <iframe class="video" src="https://www.youtube.com/embed/pPu3xH0QX64" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>El Editorial #4</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">Inauguración de La U EnLínea: El día miércoles 12 de agosto se inauguró la radio en línea, y se da inicio a este proyecto por parte de directivos, docentes y 
                                   estudiantes de la carrera de  Comunicación Social, se pone a disposición esta herramienta para las  Prácticas Pre Profesionales a los estudiantes donde fortalecerán su espíritu  
                                   y les dará la experiencia indispensable que necesitan en el campo profesional.</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>

            </div>

            <div class="row fila">
                
              <div class="col-md-3 text-center">
                <div>
                   <!--<iframe class="video" src="https://www.youtube.com/embed/Rnk6Axz6dpI" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                   <a href="https://www.youtube.com/watch?v=Rnk6Axz6dpI&list=PLNqjdRiAit_wUVLlpJ5i8ua-xOY1dXvSH&index=5" target="_blank">
                    <img src="../../imagenes/imgprogramas/botones-ver-programa-especifico/FONDO EDITORIAL 5.jpg" alt="TUGTS#5" class="btn-eleditorial">
                  </a>
                </div>

                <div class="col-md">
                   <table class="tabla text-center">
                      <thead>
                        <tr>
                          <th>El Editorial #5</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <p class="parrafo">La Honestidad: Esta virtud debe ser practicada porque si no se pierde o se olvida, es un valor fundamental de la sociedad, es necesario avivarla para convivir mejor con 
                              las personas así nos permitirá tener mejores relaciones.</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
               </div>
           </div>

           <div class="col-md-3 text-center">
               <div>
                 <!--<iframe class="video" src="https://www.youtube.com/embed/ihbyGt8DipE" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                 <a href="https://www.youtube.com/watch?v=ihbyGt8DipE&list=PLNqjdRiAit_wUVLlpJ5i8ua-xOY1dXvSH&index=6" target="_blank">
                  <img src="../../imagenes/imgprogramas/botones-ver-programa-especifico/FONDO EDITORIAL 6.jpg" alt="ElEdit#6" class="btn-eleditorial">
                 </a>
               </div>

               <div class=" col-md">
                   <table class="tabla text-center">
                      <thead>
                        <tr>
                          <th>El Editorial #6</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <p class="parrafo">Actitud: Es el comportamiento o el ánimo con el que enfrentamos una determinada situación, esta puede ser positiva o negativa.</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

           </div>

           <div class="col-md-3 text-center" >
               <div>
                 <!--<iframe class="video" src="https://www.youtube.com/embed/6LTBXjN-8Zk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                 <a href="https://www.youtube.com/watch?v=6LTBXjN-8Zk&list=PLNqjdRiAit_wUVLlpJ5i8ua-xOY1dXvSH&index=7" target="_blank">
                  <img src="../../imagenes/imgprogramas/botones-ver-programa-especifico/FONDO EDITORIAL 7.jpg" alt="ElEdit#7" class="btn-eleditorial">
                 </a>
               </div>

               <div class=" col-md">
                   <table class="tabla text-center">
                      <thead>
                        <tr>
                          <th>El Editorial #7</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <p class="parrafo">El Éxito: Debemos ser constantes, organizados pero particularmente perseverantes...Vive de acuerdo con tus valores, elige tus propias metas y toma tus propias 
                              decisiones.⁣⁣⁣</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

           </div>

           <div class="col-md-3 text-center" >
               <div>
                 <!--<iframe class="video" src="https://www.youtube.com/embed/UnfT0llZEJk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                 <a href="https://www.youtube.com/watch?v=UnfT0llZEJk&list=PLNqjdRiAit_wUVLlpJ5i8ua-xOY1dXvSH&index=8" target="_blank">
                  <img src="../../imagenes/imgprogramas/botones-ver-programa-especifico/FONDO EDITORIAL 8.jpg" alt="ElEdit#8" class="btn-eleditorial">
                 </a>
               </div>

               <div class=" col-md">
                   <table class="tabla text-center">
                      <thead>
                        <tr>
                          <th>El Editorial #8</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <p class="parrafo">Personas que Construyen: Reconoce el desempeño de tus colaboradores, compañeros y amigos…...Eleven su espíritu, cuiden de su vida privada y motívense a ser mejores por 
                              el beneficio de todos.⁣⁣⁣⁣⁣⁣</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

           </div>


          </div>

          <div class="row fila">

            <div class="col-md-3 text-center">
              <div>
                 <!--<iframe class="video" src="https://www.youtube.com/embed/oSYANwwCrz0" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                 <a href="https://www.youtube.com/watch?v=oSYANwwCrz0&list=PLNqjdRiAit_wUVLlpJ5i8ua-xOY1dXvSH&index=9" target="_blank">
                  <img src="../../imagenes/imgprogramas/botones-ver-programa-especifico/FONDO EDITORIAL 9.jpg" alt="ElEdit#9" class="btn-eleditorial">
                 </a>
              </div>

              <div class="col-md">
                 <table class="tabla text-center">
                    <thead>
                      <tr>
                        <th>El Editorial #9</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <p class="parrafo">La Ambición: En nuestra sociedad se confunde mucho con la avaricia y se disvirtúa el significado real.⁣
                            La ambición no es mala, es lo que nos mueve y motiva día a día, es el deseo por superarse y poder lograr nuestros objetivos.⁣</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
             </div>
         </div>

         <div class="col-md-3 text-center">
             <div>
               <iframe class="video" src="https://www.youtube.com/embed/RYnZhZkt6DI" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             </div>

             <div class=" col-md">
                 <table class="tabla text-center">
                    <thead>
                      <tr>
                        <th>El Editorial #10</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <p class="parrafo">Docentes que Inspiran: “Las enseñanzas es más que impartir conocimiento, es inspirar el cambio”-William Arthur Ward-⁣⁣
                            Nuestros docentes realizan acciones referente a la enseñanza y toman la gran oportunidad de contribuir al cambio de la sociedad, estos no solo proporcionan información sino que se 
                            convierten en guía de los estudiantes.⁣⁣</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

         </div>

         <div class="col-md-3 text-center" >
             <div>
               <iframe class="video" src="https://www.youtube.com/embed/40ah9JARDek" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             </div>

             <div class=" col-md">
                 <table class="tabla text-center">
                    <thead>
                      <tr>
                        <th>El Editorial #11</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <p class="parrafo">El Respeto: “No hay respeto por otros sin humildad por uno mismo” -Henri Frédéric Amiel-⁣⁣
                            Una de las características de enseñanzas primarias es respetarnos a nosotros mismo para que quede como guía en nuestra moral. ⁣⁣</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

         </div>

         <div class="col-md-3 text-center" >
             <div>
               <!--<iframe class="video" src="https://www.youtube.com/embed/lmXeGizgWQU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
               <a href="https://www.youtube.com/watch?v=lmXeGizgWQU&list=PLNqjdRiAit_wUVLlpJ5i8ua-xOY1dXvSH&index=12" target="_blank">
                <img src="../../imagenes/imgprogramas/botones-ver-programa-especifico/FONDO EDITORIAL 12.jpg" alt="ElEdit#12" class="btn-eleditorial">
               </a>
             </div>

             <div class=" col-md">
                 <table class="tabla text-center">
                    <thead>
                      <tr>
                        <th>El Editorial #12</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <p class="parrafo">La Verdad: “Es el hombre el que hace grande a la verdad, no la verdad la que hace grande al hombre” -Confucio-⁣
                            Cuando la utilizamos, y esta molesta a muchos, es preferible sostenerla a tener que por conveniencias o adulaciones complacer a los demás. Hoy en nuestra vida diaria es muy fácil 
                            destruir todo un proceso de conducta clara, solo con el hecho de legitimar la mentira y la maldad</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

         </div>

                
          </div>

          <div class="row fila">

            <div class="col-md-3 text-center">
              <div>
                 <!--<iframe class="video" src="https://www.youtube.com/embed/WcD-ByrwZLc" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                 <a href="https://www.youtube.com/watch?v=WcD-ByrwZLc&list=PLNqjdRiAit_wUVLlpJ5i8ua-xOY1dXvSH&index=13" target="_blank">
                  <img src="../../imagenes/imgprogramas/botones-ver-programa-especifico/FONDO EDITORIAL 13.jpg" alt="ElEdit#13" class="btn-eleditorial">
                 </a>
              </div>

              <div class="col-md">
                 <table class="tabla text-center">
                    <thead>
                      <tr>
                        <th>El Editorial #13</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <p class="parrafo">El Descanso: "Viajar y cambiar de lugar imparte nuevo vigor a la mente" -Séneca-  
                            Todos necesitamos vacaciones mentales, ya que mejoran nuestro estado de  ánimo, reducen el estrés y aumentan nuestra productividad.⁣</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
             </div>
         </div>

         <div class="col-md-3 text-center">
             <div>
               <!--<iframe class="video" src="https://www.youtube.com/embed/6D7jwl3h3CI" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
               <a href="https://www.youtube.com/watch?v=6D7jwl3h3CI&list=PLNqjdRiAit_wUVLlpJ5i8ua-xOY1dXvSH&index=14" target="_blank">
                <img src="../../imagenes/imgprogramas/botones-ver-programa-especifico/FONDO EDITORIAL 14.jpg" alt="ElEdit#14" class="btn-eleditorial">
               </a>
             </div>

             <div class=" col-md">
                 <table class="tabla text-center">
                    <thead>
                      <tr>
                        <th>El Editorial #14</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <p class="parrafo">EL EDITORIAL  Pronunciamiento de la máxima autoridad de la Facultad de Comunicación Social.⁣⁣ ⁣⁣ ⁣⁣⁣⁣⁣
                            Psic Cl. Saadda Fatuly Adum Mgs. Decana. ⁣</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

         </div>

         <div class="col-md-3 text-center" >
             <div>
               <!--<iframe class="video" src="https://www.youtube.com/embed/tBSvszZlTuk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
               <a href="https://www.youtube.com/watch?v=tBSvszZlTuk&list=PLNqjdRiAit_wUVLlpJ5i8ua-xOY1dXvSH&index=15" target="_blank">
                <img src="../../imagenes/imgprogramas/botones-ver-programa-especifico/FONDO EDITORIAL 15.jpg" alt="ElEdit#15" class="btn-eleditorial">
               </a>
             </div>

             <div class=" col-md">
                 <table class="tabla text-center">
                    <thead>
                      <tr>
                        <th>El Editorial #15</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <p class="parrafo">Inicio de clases: "Vive como si fueras a morir mañana. Aprende como si fueras a vivir siempre" -Mahatma Gandhi-⁣⁣⁣⁣⁣
                            ⁣⁣⁣⁣Es un nuevo inicio y por ende nuevos logros que comienzan con la decisión de intentarlo.⁣⁣⁣</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

         </div>

         <div class="col-md-3 text-center" >
             <div>
               <!--<iframe class="video" src="https://www.youtube.com/embed/M1jRJaZ08n8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
               <a href="https://www.youtube.com/watch?v=M1jRJaZ08n8&list=PLNqjdRiAit_wUVLlpJ5i8ua-xOY1dXvSH&index=16" target="_blank">
                <img src="../../imagenes/imgprogramas/botones-ver-programa-especifico/FONDO EDITORIAL 16.jpg" alt="ElEdit#16" class="btn-eleditorial">
               </a>
             </div>

             <div class=" col-md">
                 <table class="tabla text-center">
                    <thead>
                      <tr>
                        <th>El Editorial #16</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <p class="parrafo">Elección de las máximas autoridades: "Una decisión real se mide por el hecho de que has tomado una nueva acción. Si no hay acción, no has decidido". -Tony Robbins-⁣⁣⁣
                            ⁣Avanzamos por la vida asumiendo responsabilidades, y debemos tener muy claro que lo expresamos con nuestras conductas dependerá de la clase de pensamientos que más nos dominen.</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

         </div>

                
          </div>

            <br>
            <br>

            <div class="text-center">
                <a href="https://www.youtube.com/watch?v=KzhxJp4uTCM&list=PLNqjdRiAit_wUVLlpJ5i8ua-xOY1dXvSH&index=17" target="_blank">
                    <img src = "../../imagenes/imgprogramas/botones-ver-mas-programas/VER MAS EL EDITORIAL-01.png" id="btnvermasEnLineaconlaU">
                </a>
            </div>

        </div>



    </div>


</body>
</html>