<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/programas-individual/estilosProgramas.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/programas-individual/madiasProgramas.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2? family=Dancing+Script&display=swap">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    
    <title>EnL&iacute;nea con la U</title>
</head>
<body>
    
    <div class="container-fluid bg-light" style=" padding: 0px 0px;">

        <div class="contend_1 text-center">
            <h1 id="title1">PROGRAMACIÓN DE ENL&Iacute;NEA CON LA U</h1>
        </div>

        <div class="contend_3 ">

            <div class = "descripcion contend_4 text-center">
                <p>La radiorevista semanal que te ofrece contenido actualizado en tecnología, 
                  salud y vida universitaria, con la conducción de los talentos más jóvenes de la Facultad de Comunicación Social.</p>
            </div>


            <div class="row conductor">
                <div class="col-md-4 text-center" style="margin-bottom: 2%;">
                  <img src="../../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/ROMERY-ZURITA-01.jpg" class="rounded-circle foto"  alt="Romery Zurita" >
                </div>

                <div class="col-md-8">
                  <table class="tablaconductor text-start" >
                    <thead>
                      <tr>
                        <th class="titleconductor text-center">Romery Zurita</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <p id="biografiaAndreaYan">Estudiante de la gloriosa Facultad de Comunicación Social. Apasionada por la locución con más de seis años de experiencia. Presentadora del segmento de tecnología de EnLínea 
                            con la U. Guayaquileña, amante del encebollado, la música y el arte.</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>

            <div class="row conductor">
                <div class="col-md-4 text-center" style="margin-bottom: 2%;">
                  <img src="../../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/LAURA-LOZANO-01.jpg" class="rounded-circle foto"  alt="Laura Lozano" >
                </div>

                <div class="col-md-8">
                  <table class="tablaconductor text-start" >
                    <thead>
                      <tr>
                        <th class="titleconductor text-center">Laura Lozano</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <p id="biografiaAndreaYan">Locutora y presentadora de Noticias UG en el programa EnLínea Con La U, estudiante de la carrera de Comunicación. 
                            Posee experiencia como Community Manager y Creadora de contenido; tiene afinidad por el arte, las humanidades y ciencias naturales. Se define 
                            como una joven sociable, entusiasta y predispuesta a disfrutar de nuevas experiencias.</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>

            <div class="row conductor">
                <div class="col-md-4 text-center" style="margin-bottom: 2%;">
                  <img src="../../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/ANDREA-YAN-1-01.jpg" class="rounded-circle foto"  alt="Andrea Yan" >
                </div>

                <div class="col-md-8">
                  <table class="tablaconductor text-start" >
                    <thead>
                      <tr>
                        <th class="titleconductor text-center">Andrea Yan</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <p id="biografiaAndreaYan">Además de cursar el séptimo semestre de la Carrera de Comunicación, Andrea Yan es ingeniera comercial y asesora en Marketing, pero también es influencer, caster y presentadora.</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>

            <div class="row conductor">
                <div class="col-md-4 text-center" style="margin-bottom: 2%;">
                  <img src="../../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/FRANCISCO-GALLO-01.jpg" class="rounded-circle foto"  alt="Francisco Gallo" >
                </div>

                <div class="col-md-8">
                  <table class="tablaconductor text-start" >
                    <thead>
                      <tr>
                        <th class="titleconductor text-center">Francisco Gallo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <p id="biografiaAndreaYan">Peregrino de la vida: quiteño, guayaquileño y portovejense de corazón. 
                            Bibliofilo, melómano,  aprendiz y amante de las palabras.</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>

          <hr>

            <div class="row text-center">
            
              <div class="col-md text center">
                <h4 class="equipo">Asistente de Producción: Lorena Paladines</h4>
              </div>

            </div>

            <hr>

            <div class="row fila">
                
                <div class="col-md-3 text-center">
                     <div>
                      <iframe class="video" src="https://www.youtube.com/embed/RQzZumMMHx0" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>

                     <div class="col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>EnLínea con la U #1</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">Entrevista a Leticia Tinoco quien es intèrprete vocal y maestra de locuciòn nos habla de su experiencia en el àmbito en que se desenvuelve.</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                    </div>
                </div>

                <div class="col-md-3 text-center">
                    <div>
                      <iframe class="video" src="https://www.youtube.com/embed/t2eWT6meqlo" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>EnLínea con la U #2</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">Los cantantes Maykel y Ana Paula, en una entrevista por la promociòn de su tema musical "Me llamas". </p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>

                <div class="col-md-3 text-center" >
                    <div>
                      <iframe class="video" src="https://www.youtube.com/embed/nLlCkaAHT2o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>EnLínea con la U #3</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">En este capítulo se abordará  sobre la camapaña "sanos en casa" de la OMS y la telemedicina como un servicio a distancia en nuestro país. 
                                     Tendremos de invitados a los ganadores del concurso de la fiesta de lanzamiento, Carlos Luis y Dj Danny  dos jóvenes talentosos que nos relatan sus inicios 
                                     en el mundo de la música</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>

                <div class="col-md-3 text-center" >
                    <div>
                      <iframe class="video" src="https://www.youtube.com/embed/nj7qtT5MpSA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>EnLínea con la U #4</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">Hablaremos en nuestro segmento de salud con la Nutricionista Brenda Pineda que nos dará recomendaciones para tener una vida saludable manteniendo una dieta 
                                     balanceada, y como invitados especiales tendremos al grupo musical LaVanda.</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>
            </div>

            <div class="row fila">
                
              <div class="col-md-3 text-center">
                   <div>
                    <iframe class="video" src="https://www.youtube.com/embed/ZsE_oEtWm38" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                   
                  </div>
                   <div class="col-md">
                      <table class="tabla text-center">
                         <thead>
                           <tr>
                             <th>EnLínea con la U #5</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <td>
                               <p class="parrafo">En este programa te daremos recomendaciones para cuidar tu salud bucodental y te comentaremos las novedades de la UG, además te traemos la entrevista que le realizaron los 
                                   talentos a Daniel Betancourt quien nos hace un llamado a mantener la esperanza con su nuevo tema "Renacer". </p>
                             </td>
                           </tr>
                         </tbody>
                       </table>
                  </div>
              </div>

              <div class="col-md-3 text-center">
                  <div>
                    <iframe class="video" src="https://www.youtube.com/embed/2D48GhEXUn4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

                  <div class=" col-md">
                      <table class="tabla text-center">
                         <thead>
                           <tr>
                             <th>EnLínea con la U #6</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <td>
                               <p class="parrafo">En nuestro segmento de salud la Dra. Diana Ortiz nos comentará sobre como controlar la ansiedad, mientras que en nuestro segmento de tecnología podrás enterarte 
                                   en qué consiste la nueva herramienta de whatsApp, y por último tendremos la compañía de la banda Sinfonía Roja</p>
                             </td>
                           </tr>
                         </tbody>
                       </table>
                     </div>

              </div>

              <div class="col-md-3 text-center" >
                  <div>
                    <iframe class="video" src="https://www.youtube.com/embed/3wJmji9HduM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>     
                  </div>

                  <div class=" col-md">
                      <table class="tabla text-center">
                         <thead>
                           <tr>
                             <th>EnLínea con la U #7</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <td>
                               <p class="parrafo">En el segmento de tecnología podrás enterarte que una maleta robot pasaría a ser la nueva opción para las personas no videntes, en nuestro segmento de salud el 
                                   oftalmólogo Héctor Fariña nos dirá cómo detectar el glaucoma, además como invitado especial tendremos a la agrupación Los Invasores.  </p>
                             </td>
                           </tr>
                         </tbody>
                       </table>
                     </div>

              </div>

              <div class="col-md-3 text-center" >
                  <div>
                    <iframe class="video" src="https://www.youtube.com/embed/tqiJONPVUiw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

                  <div class=" col-md">
                      <table class="tabla text-center">
                         <thead>
                           <tr>
                             <th>EnLínea con la U #8</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <td>
                               <p class="parrafo">En nuestro segmento de salud hablaremos acerca de la fisioterapia con la especialista Shirley Mena, mientras que en nuestro segmento de tecnología podrás conocer 
                                   los cursos gratuitos que ofrece Google Actívate. Además, tendremos como invitado al grupo de Casters VGP Ec.</p>
                             </td>
                           </tr>
                         </tbody>
                       </table>
                     </div>
              </div>
          </div>

          <div class="row fila">
                
            <div class="col-md-3 text-center">
                 <div>
                  <iframe class="video" src="https://www.youtube.com/embed/9pFP3vXQOTI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                 <div class="col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>EnLínea con la U #9</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">En este programa tendremos a una invitada internacional Lili Barba, actriz de doblaje y locutora mexicana. Además, en nuestro segmento de salud hablaremos sobre 
                                 el cuidado a tener ante exposiciones de dispositivos digitales.</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                </div>
            </div>

            <div class="col-md-3 text-center">
                <div>
                  <iframe class="video" src="https://www.youtube.com/embed/2g5R7RxLvBQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class=" col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>EnLínea con la U #10</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">En este programa hablaremos con Tavo Garay, locutor comercial y productor. Además, en nuestro segmento de tecnología podrás conocer un dispositivo que permite 
                                 a las personas sordas sentir la música.</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>

            </div>

            <div class="col-md-3 text-center" >
                <div>
                  <iframe class="video" src="https://www.youtube.com/embed/44sIr7l36o8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class=" col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>EnLínea con la U #11</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">En este programa tendremos como invitados a Pablo Falá y Marina Arnaudo, quienes nos contarán detalles de la película "Paraíso", pronta a estrenarse. Además, 
                                 brindaremos recomendaciones para prevenir la diabetes.</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>

            </div>

            <div class="col-md-3 text-center" >
                <div>
                  <iframe class="video" src="https://www.youtube.com/embed/N-07RMBK9lM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class=" col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>EnLínea con la U #12</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">En este programa tendremos como invitado a Douglas Bastidas, compositor y vocalista, quien nos contará detalles de su nuevo tema musical Un día sin tu amor.</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>
            </div>
          </div>

          <div class="row fila">
                
            <div class="col-md-3 text-center">
                 <div>
                  <iframe class="video" src="https://www.youtube.com/embed/soZt_is8XaY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
                 <div class="col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>EnLínea con la U #13</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">En este programa tendremos como al colombiano Lord Juan, quién nos contará detalles de su single debut titulado Dejálo. Además en nuestro segmento de tecnología 
                                 te contaremos acerca de una app que puede traducir el lenguaje de los gatos.</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                </div>
            </div>

            <div class="col-md-3 text-center">
                <div>
                  <iframe class="video" src="https://www.youtube.com/embed/iy9b2dyqRhk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class=" col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>EnLínea con la U #14</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">En este programa tendremos como invitadoal artista joven Tiago Alvarado, quién nos contará detalles de su colaboración en el sencillo  𝐑𝐄𝗪𝐈𝐍𝐃. Además,  en nuestro 
                                 segemento de salud tendremos a el Dr. Isaac Parada Especialista en cardiología.</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>

            </div>

            <div class="col-md-3 text-center" >
                <div>
                  <iframe class="video" src="https://www.youtube.com/embed/dtuJMo1v4R8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
                <div class=" col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>EnLínea con la U #15</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">En este programa tendremos a la banda guayaquileña La Iguana Invisible. Además, en nuestro segmento de salud hablaremos de la cirrosis hepática.</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>

            </div>

            <div class="col-md-3 text-center" >
                <div>
                  <iframe class="video" src="https://www.youtube.com/embed/D1qWJwMgG70" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
                <div class=" col-md">
                    <table class="tabla text-center">
                       <thead>
                         <tr>
                           <th>EnLínea con la U #16</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>
                             <p class="parrafo">Hablaremos en nuestro segmento de salud con el fisoterapeuta Junquera Pineda, que nos dará tip´s para mejorar la espalda encorvada, y como invitados especiales 
                                 tendremos al grupo musical Equilivre y al cantautor Sergio Vivar.</p>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>
            </div>
          </div>

            <br>
            <br>

            <div class="text-center">
                <a href="https://www.youtube.com/watch?v=0cMhQt11rbc&list=PLNqjdRiAit_wrheoiUppWvX5616u6lVPc&index=17" target="_blank">
                    <img src = "../../imagenes/imgprogramas/botones-ver-mas-programas/VER MAS EN LINEA CON LA U-01.png" id="btnvermasEnLineaconlaU">
                </a>
            </div>

        </div>



    </div>


</body>
</html>