<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/programas-individual/estilosProgramas.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/programas-individual/madiasProgramas.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2? family=Dancing+Script&display=swap">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    
    <title>Hola Emprendedores</title>
</head>
<body>
    
    <div class="container-fluid bg-light" style=" padding: 0px 0px;">

        <div class="contend_1 text-center">
            <h1 id="title1">PROGRAMACIÓN DE HOLA EMPRENDEDORES</h1>
        </div>

        <div class="contend_3 ">

            <div class = "descripcion contend_4 text-center">
                <p>Un espacio para la Comunidad UG que emprende o está en la búsqueda de emprender su propio negocio.
                    Prepárate para emprender y aprender con las recomendaciones y tips que tiene nuestra dupla para ti a través de los segmentos:
                    Estrategia Personal, Tips para Brillar y La voz del Emprendedor.</p>
            </div>


            <div class="row conductor">
                <div class="col-md-4 text-center" style="margin-bottom: 2%;">
                  <img src="../../imagenes/talentosedit/FC-CIENCIAS-ADMINISTRATIVAS/CPA/Maria-Paulina-Brito-01.jpg" class="rounded-circle foto"  alt="Romery Zurita" >
                </div>

                <div class="col-md-8">
                  <table class="tablaconductor text-start" >
                    <thead>
                      <tr>
                        <th class="titleconductor text-center">Mar&iacute;a Paulina Brito</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <p id="biografiaAndreaYan">Profesora titular e investigadora de la Facultad de Ciencias Administrativas. 
                            <br>
                            <br>
                            Es la directora encargada de la Incubadora de Empresas INNOVUG de la Universidad de Guayaquil. Su trabajo se centra en los temas de emprendimiento, 
                            innovación y el estudio de la resiliencia organizacional en las empresas familiares, obteniendo el segundo lugar en el CLADEA Awards 2018 con su 
                            proyecto de investigación. 
                            <br>
                            <br>
                            Tiene una certificación en Design Thinking e Innovation Management por CertiProf. Se encuentra cursando su programa de PhD en Ciencias Sociales y 
                            Jurídicas en la línea de Empresa en la Universidad Rey Juan Carlos de Madrid- España. Es Máster en Administración de  Empresas de la ESPAE Graduate 
                            School of Management de la ESPOL donde obtuvo el mejor promedio de su promoción y fue becaria Walter Valdano Raffo para realizar sus estudios de 
                            posgrado. Es Investigadora categorizada y acreditada como investigadora agregada I por la secretaria de Educación Superior Ciencia Tecnología e 
                            Innovación del Ecuador. 
                            <br>
                            <br>
                            Miembro de la Red Iberoamericana AFIDE, Asociación para la Formación, Investigación y desarrollo del Emprendimiento, Universidad de 
                            Salamanca-España. Miembro del Consejo Latinoamericano de Escuelas de Administración de Empresas CLADEA y de la Red Latinoamericana de Innovación y 
                            Emprendimiento de esta entidad.</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>

            <div class="row conductor">
                <div class="col-md-4 text-center" style="margin-bottom: 2%;">
                  <img src="../../imagenes/talentosedit/FC-CIENCIAS-ADMINISTRATIVAS/ing-Marketing-y-Negociacion-Comercila/2021-ing-Marketing-y-Negociacion-Comercila/Elizabeth-Aveiga-01.jpg" class="rounded-circle foto"  alt="Laura Lozano" >
                </div>

                <div class="col-md-8">
                  <table class="tablaconductor text-start" >
                    <thead>
                      <tr>
                        <th class="titleconductor text-center">Elizabeth Aveiga</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <p id="biografiaAndreaYan">Estratega de Marcas Personales y Marketing Digital.
                            <br>
                            <br>
                            Brindo asesorías a profesionales y empresas en el desarrollo y gestión de la marca personal y manejo optimizado de redes sociales.
                            Soy Ingeniera de Marketing y Negociación Comercial de la Universidad de Guayaquil, Facultad de Ciencias Administrativas.
                            Cuento con diez años de experiencia en Marketing Estratégico, desempeñé los cargos de Coordinadora de Marketing y Jefe de Producto en grandes y 
                            reconocidas empresas del país como:
                            <ul>
                              <li>Maviju S.A. - Jefe de Producto (2018-2020)</li>
                            <br>
                              <li>Promesa S.A. - Jefe de Producto (2015 – 2018)</li>
                            <br>
                              <li>S.A. Importadora Andina SAIA  - Coordinadora de Marketing (2010 – 2015)</li>
                            </ul>
                            </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>

          <hr>

            <div class="row text-center">
            
                <div class="col-md-4 ">
                    <h4 class="equipo">Edición/Control Máster: Francisco Zambrano</h4>
                </div>
                <div class="col-md-4 ">
                    <h4 class="equipo">Animadora: Doménica Avilés</h4>
                </div>
                <div class="col-md-4">
                    <h4 class="equipo">Ilustrador: Marco Espinoza</h4>
                </div>

            </div>

            <hr>

            <div class="row fila">
                
                <div class="col-md-3 text-center">
                     <div>
                        <iframe class="video" src="https://www.youtube.com/embed/dcHZKtJClGQ" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>

                     <div class="col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>Hola Emprendedores #1</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">Junto con la conducción en dupla de Elizabeth Aveiga y María Paulina Brito compartiremos contigo 
                                     todo lo que debes saber sobre la marca personal y como realizar una correcta segmentación de mercado que dirija tu emprendimiento hacia su 
                                     real público objetivo. </p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                    </div>
                </div>

                <div class="col-md-3 text-center">
                    <div>
                      <iframe class="video" src="https://www.youtube.com/embed/9a65CL3YMGM" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>Hola Emprendedores #2</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">Compartiremos contigo todo lo que debes saber sobre la Propuesta de Valor y la Promesa de Valor de 
                                     Marca junto con la conducción en dupla de Elizabet Aveiga y María Paulina Brito. En el segmento tips para brillar nos acompañará:
                                    Kerwin Palacios de la Facultad de Ciencias Económicas. </p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>

                <div class="col-md-3 text-center" >
                    <div>
                      <iframe class="video" src="https://www.youtube.com/embed/6MdmHmATkfg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>Hola Emprendedores #3</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">Compartiremos contigo todo lo que debes saber sobre el desarrollo del perfil emprededor y la marca personal 
                                     para emprendedores. Junto con la conducción en dupla de Elizabet Aveiga‍ y María Paulina Brito. En el segmento tips para brillar nos
                                     acompañará: Doménica Paulette Valdez del 6to semestre de la facultad de Ciencias Naturales. </p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>

                <div class="col-md-3 text-center" >
                    <div>
                      <iframe class="video" src="https://www.youtube.com/embed/Swe4F5Y1UrQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>Hola Emprendedores #4</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">Compartiremos contigo todo lo que debes saber sobre Foda emprendimiento / Foda de las personas junto con 
                                     la conducción en dupla de Elizabeth Aveiga y María Paulina Brito. En el segmento la voz del emprendedor nos acompañará: Anthony Alexander 
                                     Morán de la facultad de Ciencias Naturales  del 6to semenestre de la carrera: Ingeniería Ambiental.</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>
            </div>

            <div class="row fila">
                
              <div class="col-md-3 text-center">
                   <div>
                    <iframe class="video" src="https://www.youtube.com/embed/adVbKo1a1OU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                   
                  </div>
                   <div class="col-md">
                      <table class="tabla text-center">
                         <thead>
                           <tr>
                             <th>Hola Emprendedores #5</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <td>
                               <p class="parrafo">Compartiremos contigo todo lo que debes saber sobre el desarrollo de la creatividad y la Autenticidad de 
                                   la Marca junto con la conducción en dupla de Elizabeth Aveiga y María Paulina Brito. En el segmento tips para brillar nos acompañará: 
                                   Jimmy Reyes egresado de la carrera Ciencias Económicas, quien compartirá con nosotros de la creación de plataformas de servicios de niñeras 
                                   virtuales (Nivi). </p>
                             </td>
                           </tr>
                         </tbody>
                       </table>
                  </div>
              </div>


              <div class="col-md-3 text-center">
                <div>
                 <iframe class="video" src="https://www.youtube.com/embed/bqlG0JxXeSQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                   
               </div>
                <div class="col-md">
                   <table class="tabla text-center">
                      <thead>
                        <tr>
                          <th>Hola Emprendedores #6</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <p class="parrafo">Compartiremos contigo todo lo que debes saber sobre las redes sociales  y como elegir lo más conveniente 📊 junto con la 
                              conducción en dupla de Elizabeth Aveiga y María Paulina Brito. 👩‍🏫 ✨En el segmento tips para brillar nos acompañará: Ingrid Solange Mercado, 
                              de la carrera de Biología del 10mo semestre de la facultad de Ciencias Naturales👩🏼‍🔬quien nos hablara de su producto Rizoboost, un potencial 
                              bioinoculante recuperador de suelo basado en microorganismos. 🔬🦠 🎙️En el segmento La voz del emprendedor nos acompañará: José Ayala del 10mo 
                              semestre de la carrera de Ingeniería Industrial 👷🏻‍♂️quien nos hablara de sus experiencias con su emprendimiento Misegreta Café.</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
               </div>
           </div>


           <div class="col-md-3 text-center">
            <div>
             <iframe class="video" src="https://www.youtube.com/embed/t3bZGB82DFs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                   
           </div>
            <div class="col-md">
               <table class="tabla text-center">
                  <thead>
                    <tr>
                      <th>Hola Emprendedores #7</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <p class="parrafo">Hola Emprendedores: Compartiremos contigo todo lo que debes saber sobre: Misión, Visión y Objetivo del Emprendimiento y marca 
                          personal junto con la conducción en dupla de Elizabeth Aveiga y María Paulina Brito. En el segmento tips para brillar nos acompañará Erick Antonio 
                          Chicaiza Sánchez egresado de la carrera de Ingeniería en Telecomunicaciones. En el segmento La voz del emprendedor nos acompañará: Leslie Castillo 
                          Pozo egresado de la carrera de Odontología quien nos hablará de su experiencia con su emprendimiento de Postres Artesanales, Bolos Gourmet.</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
           </div>
       </div>


       <div class="col-md-3 text-center">
        <div>
         <iframe class="video" src="https://www.youtube.com/embed/060g4ubs3mE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                   
       </div>
        <div class="col-md">
           <table class="tabla text-center">
              <thead>
                <tr>
                  <th>Hola Emprendedores #8</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p class="parrafo">Compartiremos contigo todo lo que debes saber sobre la búsqueda de innovación ‍ y alternativas de canales junto con la conducción en 
                      dupla de Elizabeth Aveiga y María Paulina Brito. En el segmento tips para brillar nos acompañará: Hugo Vizhñay del 7mo semestre de la Carrera de 
                      Ing. Industrial, quien compartirá con nosotros acerca de su idea de helados hecho con Stevia. En el segmento La voz del emprendedor nos acompañará: 
                      Angie Alvarado del 8vo semenestre de la carrera de Ingeniería en Gestión Empresarial quien nos hablara de sus experiencias con su emprendimiento: 
                      Bocaditos D'Angie</p>
                  </td>
                </tr>
              </tbody>
            </table>
       </div>
   </div>

          </div>

          <div class="row fila">

             <div class="col-md-3 text-center">
            <div>
              <iframe class="video" src="https://www.youtube.com/embed/dbdTvQHvYZs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                   
            </div>
              <div class="col-md">
                <table class="tabla text-center">
                   <thead>
                     <tr>
                       <th>Hola Emprendedores #9</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr>
                       <td>
                         <p class="parrafo">Compartiremos contigo todo lo que debes sobre las nuevas tendencias de consumo y de negocio junto con la conducción en dupla de 
                           Elizabeth Aveiga y María Paulina Brito. En el segmento tips para brillar nos acompañará: Teysha Saavedra del 5 semestre de la carrera de 
                           Ing. Comercial,  quien nos contara de sus experiencias con su tienda de ropa y accesorios. En el segmento La voz del emprendedor nos acompañará:  
                           Belén Miranda,   quien nos hablara acerca de su emprendimiento: Chocolen.</p>
                       </td>
                     </tr>
                   </tbody>
                 </table>
             </div>
           </div>
                
          </div>

            <br>
            <br>

            <div class="text-center">
                <a href="#">
                    <img src = "../../imagenes/imgprogramas/botones-ver-mas-programas/VER MAS HE-01.png" id="btnvermasEnLineaconlaU">
                </a>
            </div>

        </div>



    </div>


</body>
</html>