<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/programas-individual/estilosProgramas.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/programas-individual/madiasProgramas.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2? family=Dancing+Script&display=swap">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    
    <title>Más de Ti</title>
</head>
<body>
    
    <div class="container-fluid bg-light" style=" padding: 0px 0px;">

        <div class="contend_1 text-center">
            <h1 id="title1">PROGRAMACIÓN DE MÁS DE TI</h1>
        </div>

        <div class="contend_3 ">

            <div class = "descripcion contend_4 text-center">
                <p>Un espacio para compartir el lado más humano de las figuras públicas y personajes que hacen noticia,
                    con una conversación más íntima donde podremos conocer MÁS DE TI.</p>
            </div>


            <div class="row conductor">
                <div class="col-md-4 text-center" style="margin-bottom: 2%;">
                  <img src="../../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/Henry-Carrascal-01.jpg" class="rounded-circle foto"  alt="Pamela Mendoza" >
                </div>

                <div class="col-md-8">
                  <table class="tablaconductor text-center" >
                    <thead>
                      <tr>
                        <th class="titleconductor">Henry Carrascal</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <p id="biografiaAndreaYan">Magister en Ciencias Internacionales y Diplomacia, Abogado y Periodista Profesional.</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>


          <hr>

          <div class="row text-center">
            <div class="col-md-4 ">
                <h4 class="equipo">Productor: Samuel Soria</h4>
            </div>
            <div class="col-md-4 ">
                <h4 class="equipo">Coordinadora: Brillite España</h4>
            </div>
            <div class="col-md-4">
                <h4 class="equipo">Reportera: Nathalya Abad</h4>
            </div>
        </div>
        <br>
        <div class="row text-center">
            <div class="col-md-3">
                <h4 class="equipo">Animadora: Doménica Avilés</h4>
            </div>
            <div class="col-md-3">
                <h4 class="equipo">Editor / Control Sonido: Luis Banchón</h4>
            </div>
            <div class="col-md-3">
                <h4 class="equipo">Control Máster: Francisco Zambrano</h4>
            </div>
            <div class="col-md-3">
                <h4 class="equipo">Ilustrador: Marco Espinoza</h4>
            </div>
        </div>

            <hr>

            <div class="row fila">
                
                <div class="col-md-3 text-center">
                     <div>
                        <iframe class="video" src="https://www.youtube.com/embed/kjSE8_Jw66Q" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>

                     <div class="col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>Más de Ti #1</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">MasDeTi: traerá aquella información que no ves de distintos personajes, el lado más real.
                                    Tendremos como primera invitada a Blanca Moncada, Licenciada en Comunicación Social
                                    ¿Quieres saber cuales serán sus respuestas bajo límite de tiempo? En el segmento Más 5 lo descubrirás.</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                    </div>

                </div>

                <div class="col-md-3 text-center">
                    <div>
                      <iframe class="video" src="https://www.youtube.com/embed/ihBVQM6XRNg" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>Más de Ti #2</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">MasDeTi: traerá aquella información que no ves de distintos personajes, el lado más real.
                                  Hoy conoceremos más sobre Troi Alvarado</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>

<!--
                <div class="col-md-3 text-center" >
                    <div>
                      <iframe class="video" src="https://www.youtube.com/embed/6MdmHmATkfg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>Hola Emprendedores #3</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">Compartiremos contigo todo lo que debes saber sobre el desarrollo del perfil emprededor y la marca personal 
                                     para emprendedores. Junto con la conducción en dupla de Elizabet Aveiga‍ y María Paulina Brito. En el segmento tips para brillar nos
                                     acompañará: Doménica Paulette Valdez del 6to semestre de la facultad de Ciencias Naturales. </p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>

                <div class="col-md-3 text-center" >
                    <div>
                      <iframe class="video" src="https://www.youtube.com/embed/Swe4F5Y1UrQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>Hola Emprendedores #4</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">Compartiremos contigo todo lo que debes saber sobre Foda emprendimiento / Foda de las personas junto con 
                                     la conducción en dupla de Elizabeth Aveiga y María Paulina Brito. En el segmento la voz del emprendedor nos acompañará: Anthony Alexander 
                                     Morán de la facultad de Ciencias Naturales  del 6to semenestre de la carrera: Ingeniería Ambiental.</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>
-->
            </div>

            <div class="row fila">
                
               

          </div>

          <div class="row fila">
                
          </div>

            <br>
            <br>

            <div class="text-center">
                <a href="#">
                    <img src = "../../imagenes/imgprogramas/botones-ver-mas-programas/VER MAS + DE TI-01.png" id="btnvermasEnLineaconlaU">
                </a>
            </div>

        </div>



    </div>


</body>
</html>