<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/programas-individual/estilosProgramas.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/programas-individual/madiasProgramas.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2? family=Dancing+Script&display=swap">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    
    <title>The Ug's Talent Show</title>
</head>
<body>
    
    <div class="container-fluid bg-light" style=" padding: 0px 0px;">

        <div class="contend_1 text-center">
            <h1 id="title1">PROGRAMACIÓN DE THE UG'S TALENT SHOW</h1>
        </div>

        <div class="contend_3 ">

            <div class = "descripcion contend_4 text-center">
                <p>Programa concurso en inglés que destaca el talento artístico de la comunidad universitaria. 
                    ¿Sabes cantar, actuar, recitar con un buen nivel de inglés? Este espacio es para ti, participa y gana fabulosos premios.</p>
            </div>


            <div class="row conductor">
                <div class="col-md-4 text-center" style="margin-bottom: 2%;">
                  <img src="../../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/Astrid Zambrano-01.jpg" class="rounded-circle foto"  alt="Astrid Zambrano" >
                </div>

                <div class="col-md-8">
                  <table class="tablaconductor text-start" >
                    <thead>
                      <tr>
                        <th class="titleconductor text-center">Astrid Zambrano</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <p id="biografiaAndreaYan">Nací en Maracay - Venezuela, el 05 de diciembre de 1999. En esta ciudad viví toda mi infancia y adolescencia hasta que en 
                            2017 decidí mudarme a Guayaquil- Ecuador en donde inicie mi carrera universitaria en Comunicación en la Universidad de Guayaquil.
                            <br>
                            <br>
                            Desde muy pequeña empece aprender inglés y es por eso que ahora me desempeño como administradora de una agencia llamada Seeking English. Soy una 
                            persona bastante dedicada y responsable en todos los aspectos de mi vida. Disfruto leer, escuchar música y aprender idiomas. Mi próxima meta es 
                            realizar una maestría en Marketing Digital en Alemania</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>


          <hr>

          <div class="row text-center">
            <div class="col-md-4 ">
                <h4 class="equipo">Locutora: Laura Lozano</h4>
            </div>
            <div class="col-md-4 ">
                <h4 class="equipo">Asistente de Producción: Vanessa Andocilla</h4>
            </div>
            <div class="col-md-4">
                <h4 class="equipo">Editor/ Control Máster: Bryan Segovia</h4>
            </div>
        </div>
        <br>
        <div class="row text-center">
            <div class="class col-md-3">

            </div>
            <div class="col-md-3">
                <h4 class="equipo">Animadora: Doménica Avilés</h4>
            </div>
            <div class="col-md-3">
                <h4 class="equipo">Control Sonido: Luis Banchón</h4>
            </div>
            <div class="col-md-3">
                
            </div>
        </div>

            <hr>

            <div class="row fila">
                
                <div class="col-md-3 text-center">
                     <div>
                        <!--<iframe class="video" src="https://www.youtube.com/embed/oJvKDcpihwc" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                        <a href="https://www.youtube.com/watch?v=oJvKDcpihwc&list=PLNqjdRiAit_zMIEvCQ4qq3AxcmvBhfMzJ" target="_blank">
                          <img src="../../imagenes/imgprogramas/botones-ver-programa-especifico/FONDO THE UG´sTALENT SHOW 1.jpg" alt="TUGTS#1" class="btn-tugts">
                        </a>
                     </div>

                     <div class="col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>The Ug's Talent Show #1</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">The UG’s Talent Show: Inicia sus presentación con grandes talentos como lo son Ana Belén Marín y Alexander Chilán, los primeros 
                                     en deleitarnos con su melodiosa voz compitiendo por llegar a la Gala Final y ser acreedores increíbles premios!</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                    </div>
                </div>

                <div class="col-md-3 text-center">
                    <div>
                      <!--<iframe class="video" src="https://www.youtube.com/embed/3bRsGxvJYVk" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                      <a href="https://www.youtube.com/watch?v=3bRsGxvJYVk&list=PLNqjdRiAit_zMIEvCQ4qq3AxcmvBhfMzJ&index=2" target="_blank">
                        <img src="../../imagenes/imgprogramas/botones-ver-programa-especifico/FONDO THE UG´sTALENT SHOW 2.jpg" alt="TUGTS#2" class="btn-tugts">
                      </a>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>The Ug's Talent Show #2</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">The UG’s Talent Show: esta semana le da paso a grandes talentos como lo son Lissette Zambrano y Natasha Seixa, las 
                                   primeras que nos deleitarán con sus actuaciones, compitiendo por llegar a la Gala Final y ser acreedoras increíbles premios!</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>


                <div class="col-md-3 text-center" >
                    <div>
                      <!--<iframe class="video" src="https://www.youtube.com/embed/6MdmHmATkfg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                      <a href="https://www.youtube.com/watch?v=LdyYsyXs5JY&list=PLNqjdRiAit_zMIEvCQ4qq3AxcmvBhfMzJ&index=3" target="_blank">
                        <img src="../../imagenes/imgprogramas/botones-ver-programa-especifico/FONDO THE UG´sTALENT SHOW 3.jpg" alt="TUGTS#3" class="btn-tugts">
                      </a>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>The Ug's Talent Show #3</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">The UG’s Talent Show: esta semana le da paso a grandes talentos como lo son Weslley Reina y Genesis Baquero , quienes 
                                   estarán deleitándonos con su voz y compitiendo por llegar a la Gala Final y ser acreedores de increíbles premios‼️🤩✨🙌🏼🙌🏼🙌🏼</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>

<!--
                <div class="col-md-3 text-center" >
                    <div>
                      <iframe class="video" src="https://www.youtube.com/embed/Swe4F5Y1UrQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>Hola Emprendedores #4</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">Compartiremos contigo todo lo que debes saber sobre Foda emprendimiento / Foda de las personas junto con 
                                     la conducción en dupla de Elizabeth Aveiga y María Paulina Brito. En el segmento la voz del emprendedor nos acompañará: Anthony Alexander 
                                     Morán de la facultad de Ciencias Naturales  del 6to semenestre de la carrera: Ingeniería Ambiental.</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>
-->

            </div>

            <div class="row fila">
                
               

          </div>

          <div class="row fila">
                
          </div>

            <br>
            <br>

            <div class="text-center">
                <a href="#">
                    <img src = "../../imagenes/imgprogramas/botones-ver-mas-programas/VER MAS UG TS-01.png" id="btnvermasEnLineaconlaU">
                </a>
            </div>

        </div>



    </div>


</body>
</html>