<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/programas-individual/estilosProgramas.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/programas-individual/madiasProgramas.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2? family=Dancing+Script&display=swap">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    
    <title>Turismo de Mente EC</title>
</head>
<body>
    
    <div class="container-fluid bg-light" style=" padding: 0px 0px;">

        <div class="contend_1 text-center">
            <h1 id="title1">PROGRAMACIÓN DE TURISMO DE MENTE EC</h1>
        </div>

        <div class="contend_3 ">

            <div class = "descripcion contend_4 text-center">
                <p>Un recorrido por destinos de Ecuador que deleitarán tu mente.Realizaremos cada semana un viaje distinto donde podremos conocer el lado jamás antes visto de los 
                    rincones del país, en sus segmentos: De Mente Turística, De Mente Histórica, De Mente y de Gente, El TikToker De Mente, Desde la Mente Experta.</p>
            </div>


            <div class="row conductor">
                <div class="col-md-4 text-center" style="margin-bottom: 2%;">
                  <img src="../../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/CARLA VERDESOTO-01.jpg" class="rounded-circle foto"  alt="Pamela Mendoza" >
                </div>

                <div class="col-md-8">
                  <table class="tablaconductor text-start" >
                    <thead>
                      <tr>
                        <th class="titleconductor text-center">Karla Verdesoto</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <p id="biografiaAndreaYan"><ul>
                                                     <li>Edad: 21 años</li> 
                                                     <li>Graduada en COPEI (COPEI ENGLISH INSTITUTE) nivel B2</li>
                                                     <li>Estudiante de comunicación en FACSO</li>
                                                     <li>Estudiante de noticias e información en el ITV</li> 
                                                     <li>Diploma B.I en el colegio Dr.Teodoro Alvarado Olea</li>
                                                     <li>Realización de C.A.S (acción social)</li>
                                                     <li>Diploma de honor por excelencia académica</li>
                                                    </ul>
                                                    </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>

            <div class="row conductor">
                <div class="col-md-4 text-center" style="margin-bottom: 2%;">
                  <img src="../../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/SAMUEL-GUILLEN-01.jpg" class="rounded-circle foto"  alt="Laura Lozano" >
                </div>

                <div class="col-md-8">
                  <table class="tablaconductor text-start" >
                    <thead>
                      <tr>
                        <th class="titleconductor text-center">Samuel Guill&eacute;n</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <p id="biografiaAndreaYan"><ul>
                                                    <li>Master en Administración de Empresas</li>
                                                    <br>
                                                    <li>Master en Gestión Turística</li>
                                                     <br>
                                                     <li>Doctorante en Ciencias Económicas de la Universidad de la Habana</li>
                                                     <br>
                                                     <li>Master practioner en PNL</li>
                                                     <br> 
                                                     <li>Diplomado en Marketing en la Universidad de Guadalajara</li>
                                                     <br>
                                                     <li>CEO de Ghtravel y Consultor Turístico</li>
                                                     <br>
                                                     <li>Docente Investigador con varias publicaciones entre libros, artículos científicos y ponencias</li>
                                                     <br>
                                                     <li>Coordinador General de Investigación de FACSO - UG</li></ul>
                                                     <br>
                                                     Siempre al servicio de la Comunidad</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>

          <hr>

          <div class="row text-center">
            <div class="col-md-4 ">
                <h4 class="equipo">Asistente de Producción: Karen Franco</h4>
            </div>
            <div class="col-md-4 ">
                <h4 class="equipo">Coordinación: Jennifer Delgado</h4>
            </div>
            <div class="col-md-4">
                <h4 class="equipo">Reportajes y Locución: Andrés Álava</h4>
            </div>
        </div>
        <br>
        <div class="row text-center">
            <div class="col-md-4">
                <h4 class="equipo">Animadora: Doménica Avilés</h4>
            </div>
            <div class="col-md-4">
                <h4 class="equipo">Ilustrador: Adrián Salvarría</h4>
            </div>
            <div class="col-md-4">
                <h4 class="equipo">Edición/ Control Máster: Francisco Zambrano</h4>
            </div>
        </div>

            <hr>

            <div class="row fila">
                
                <div class="col-md-3 text-center">
                     <div>
                        <iframe class="video" src="https://www.youtube.com/embed/mOLdSUoR1LA" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>

                     <div class="col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>Turismo de Mente #1</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">Turismo de Mente: conoceremos más a fondo sobre el Cementerio General Patrimonial de Guayaquil lugar donde se puede 
                                   encontrar mucha historia y grandes personajes del Ecuador.🇪🇨. Acompáñanos junto a nuestro invitado especial Ricardo Carrera, 
                                   presidente de la Corporación de Profesionales en Turismo del Litoral.</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                    </div>
                </div>

                <div class="col-md-3 text-center">
                    <div>
                      <iframe class="video" src="https://www.youtube.com/embed/a_3KaWeGvc8" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>Turismo de Mente #2</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">Turismo de Mente: daremos un vistazo por este paraíso natural que nos ofrece Naranjal. 
                                  Acompáñanos junto a nuestro invitado especial Miguel Tigre, administrador de las 7 cascadas y mirador del tigre</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>

<!--
                <div class="col-md-3 text-center" >
                    <div>
                      <iframe class="video" src="https://www.youtube.com/embed/6MdmHmATkfg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>Hola Emprendedores #3</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">Compartiremos contigo todo lo que debes saber sobre el desarrollo del perfil emprededor y la marca personal 
                                     para emprendedores. Junto con la conducción en dupla de Elizabet Aveiga‍ y María Paulina Brito. En el segmento tips para brillar nos
                                     acompañará: Doménica Paulette Valdez del 6to semestre de la facultad de Ciencias Naturales. </p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>

                <div class="col-md-3 text-center" >
                    <div>
                      <iframe class="video" src="https://www.youtube.com/embed/Swe4F5Y1UrQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class=" col-md">
                        <table class="tabla text-center">
                           <thead>
                             <tr>
                               <th>Hola Emprendedores #4</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>
                                 <p class="parrafo">Compartiremos contigo todo lo que debes saber sobre Foda emprendimiento / Foda de las personas junto con 
                                     la conducción en dupla de Elizabeth Aveiga y María Paulina Brito. En el segmento la voz del emprendedor nos acompañará: Anthony Alexander 
                                     Morán de la facultad de Ciencias Naturales  del 6to semenestre de la carrera: Ingeniería Ambiental.</p>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                </div>
-->
            </div>

            <div class="row fila">
                
               

          </div>

          <div class="row fila">
                
          </div>

            <br>
            <br>

            <div class="text-center">
                <a href="#">
                    <img src = "../../imagenes/imgprogramas/botones-ver-mas-programas/VER MAS TdM-01.png" id="btnvermasEnLineaconlaU">
                </a>
            </div>

        </div>



    </div>


</body>
</html>