
@media screen and (max-width:1119px){
  iframe{
    width: 95%;
    align-items: center;
  }
}


@media screen and (max-width:700px){
  #biografiaTroiAlvarado{
    font-family: 'Dancing Script', cursiva;
    font-size: 17px;
  }
  #biografiaAndreaYan{
    font-family: 'Dancing Script', cursiva;
    font-size: 20px;
  }
  #btnvermasCienciaExpress{
    width: 50%;
    height: 60%;
    margin-bottom:1% ;
  }
  #btnvermasTertulias{
    width: 50%;
    height: 80%;
  } 
}




