@media screen and (max-width:1679px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 1%;
  width: 70%;
  height: 70%;
}

.btn-eleditorial{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 1%;
  width: 70%;
  height: 70%;
}

.btn-cartsoblamesa{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 1%;
  width: 70%;
  height: 70%;
}
}

@media screen and (max-width:1633px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 2%;
  width: 70%;
  height: 70%;
}

.btn-eleditorial{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 2%;
  width: 70%;
  height: 70%;
}

.btn-cartsoblamesa{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 2%;
  width: 70%;
  height: 70%;
}
}

@media screen and (max-width:1633px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 3%;
  width: 70%;
  height: 70%;
}

.btn-eleditorial{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 3%;
  width: 70%;
  height: 70%;
}

.btn-cartsoblamesa{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 3%;
  width: 70%;
  height: 70%;
}
}

@media screen and (max-width:1555px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 4%;
  width: 70%;
  height: 70%;
}

.btn-eleditorial{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 4%;
  width: 70%;
  height: 70%;
}

.btn-cartsoblamesa{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 4%;
  width: 70%;
  height: 70%;
}
}

@media screen and (max-width:1119px){
  iframe{
    width: 95%;
    align-items: center;
  }
}

@media screen and (max-width:1500px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 3%;
  width: 75%;
  height: 75%;
}

.btn-eleditorial{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 3%;
  width: 75%;
  height: 75%;
}

.btn-cartsoblamesa{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 3%;
  width: 75%;
  height: 75%;
}
}

@media screen and (max-width:1450px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 2%;
  width: 80%;
  height: 80%;
}

.btn-eleditorial{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 2%;
  width: 80%;
  height: 80%;
}

.btn-cartsoblamesa{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 2%;
  width: 80%;
  height: 80%;
}
}

@media screen and (max-width:1380px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 4%;
  width: 80%;
  height: 80%;
}

.btn-eleditorial{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 4%;
  width: 80%;
  height: 80%;
}

.btn-cartsoblamesa{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 4%;
  width: 80%;
  height: 80%;
}
}

@media screen and (max-width:1350px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 4%;
  width: 85%;
  height: 85%;
}

.btn-eleditorial{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 4%;
  width: 85%;
  height: 85%;
}

.btn-cartsoblamesa{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 4%;
  width: 85%;
  height: 85%;
}
}

@media screen and (max-width:1285px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 5%;
  width: 85%;
  height: 85%;
}

.btn-eleditorial{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 5%;
  width: 85%;
  height: 85%;
}

.btn-cartsoblamesa{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 5%;
  width: 85%;
  height: 85%;
}
}

@media screen and (max-width:1250px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 6%;
  width: 85%;
  height: 85%;
}

.btn-eleditorial{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 6%;
  width: 85%;
  height: 85%;
}

.btn-cartsoblamesa{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 6%;
  width: 85%;
  height: 85%;
}
}

@media screen and (max-width:1240px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 4%;
  width: 90%;
  height: 90%;
}

.btn-eleditorial{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 4%;
  width: 90%;
  height: 90%;
}

.btn-cartsoblamesa{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 4%;
  width: 90%;
  height: 90%;
}
}

@media screen and (max-width:1215px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 5%;
  width: 90%;
  height: 90%;
}

.btn-eleditorial{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 5%;
  width: 90%;
  height: 90%;
}

.btn-cartsoblamesa{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 5%;
  width: 90%;
  height: 90%;
}
}

@media screen and (max-width:1200px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 7%;
  width: 90%;
  height: 90%;
}

.btn-eleditorial{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 7%;
  width: 90%;
  height: 90%;
}

.btn-cartsoblamesa{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 7%;
  width: 90%;
  height: 90%;
}
}

@media screen and (max-width:1190px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 5%;
  width: 95%;
  height: 95%;
}

.btn-eleditorial{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 5%;
  width: 95%;
  height: 95%;
}

.btn-cartsoblamesa{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 5%;
  width: 95%;
  height: 95%;
}
}

@media screen and (max-width:1150px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 5%;
  width: 100%;
  height: 100%;
}

.btn-eleditorial{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 5%;
  width: 100%;
  height: 100%;
}

.btn-cartsoblamesa{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 5%;
  width: 100%;
  height: 100%;
}
}

@media screen and (max-width:1119px){
  iframe{
    width: 95%;
    align-items: center;
  }
}

@media screen and (max-width:1085px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 7%;
  width: 100%;
  height: 100%;
}

.btn-eleditorial{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 7%;
  width: 100%;
  height: 100%;
}

.btn-cartsoblamesa{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 7%;
  width: 100%;
  height: 100%;
}
}

@media screen and (max-width:1065px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 8%;
  width: 100%;
  height: 100%;
}

.btn-eleditorial{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 8%;
  width: 100%;
  height: 100%;
}

.btn-cartsoblamesa{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 8%;
  width: 100%;
  height: 100%;
}
}

@media screen and (max-width:1045px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 8%;
  width: 105%;
  height: 105%;
}

.btn-eleditorial{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 8%;
  width: 105%;
  height: 105%;
}

.btn-cartsoblamesa{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  padding-bottom: 8%;
  width: 105%;
  height: 105%;
}
}

@media screen and (max-width:1004px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 10%;
  width: 105%;
  height: 105%;
}

.btn-eleditorial{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 10%;
  width: 105%;
  height: 105%;
}

.btn-cartsoblamesa{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding-bottom: 10%;
  width: 105%;
  height: 105%;
}
}

@media screen and (max-width:995px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5%;
  padding-bottom: 11%;
  width: 105%;
  height: 105%;
}

.btn-eleditorial{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5%;
  padding-bottom: 11%;
  width: 105%;
  height: 105%;
}

.btn-cartsoblamesa{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5%;
  padding-bottom: 11%;
  width: 105%;
  height: 105%;
}
}

@media screen and (max-width:975px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 5%;
  padding-bottom: 12%;
  width: 105%;
  height: 105%;
}

.btn-eleditorial{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 5%;
  padding-bottom: 12%;
  width: 105%;
  height: 105%;
}

.btn-cartsoblamesa{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 5%;
  padding-bottom: 12%;
  width: 105%;
  height: 105%;
}
}

@media screen and (max-width:940px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 5%;
  padding-bottom: 15%;
  width: 105%;
  height: 105%;
}

.btn-eleditorial{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 5%;
  padding-bottom: 15%;
  width: 105%;
  height: 105%;
}

.btn-cartsoblamesa{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 5%;
  padding-bottom: 15%;
  width: 105%;
  height: 105%;
}
}

@media screen and (max-width:930px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 6%;
  padding-bottom: 17%;
  width: 105%;
  height: 105%;
}

.btn-eleditorial{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 6%;
  padding-bottom: 17%;
  width: 105%;
  height: 105%;
}

.btn-cartsoblamesa{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 6%;
  padding-bottom: 17%;
  width: 105%;
  height: 105%;
}
}

@media screen and (max-width:885px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 7%;
  padding-bottom: 19%;
  width: 105%;
  height: 105%;
}

.btn-eleditorial{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 7%;
  padding-bottom: 19%;
  width: 105%;
  height: 105%;
}

.btn-cartsoblamesa{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 7%;
  padding-bottom: 19%;
  width: 105%;
  height: 105%;
}
}

@media screen and (max-width:850px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 9%;
  padding-bottom: 22%;
  width: 105%;
  height: 105%;
}

.btn-eleditorial{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 9%;
  padding-bottom: 22%;
  width: 105%;
  height: 105%;
}

.btn-cartsoblamesa{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 9%;
  padding-bottom: 22%;
  width: 105%;
  height: 105%;
}
}

@media screen and (max-width:812px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 11%;
  padding-bottom: 23%;
  width: 105%;
  height: 105%;
}

.btn-eleditorial{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 11%;
  padding-bottom: 23%;
  width: 105%;
  height: 105%;
}

.btn-cartsoblamesa{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 11%;
  padding-bottom: 23%;
  width: 105%;
  height: 105%;
}
}

@media screen and (max-width:790px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 11%;
  padding-bottom: 25%;
  width: 105%;
  height: 105%;
}

.btn-eleditorial{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 11%;
  padding-bottom: 25%;
  width: 105%;
  height: 105%;
}

.btn-cartsoblamesa{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 11%;
  padding-bottom: 25%;
  width: 105%;
  height: 105%;
}
}

@media screen and (max-width:780px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 11%;
  padding-bottom: 27%;
  width: 105%;
  height: 105%;
}

.btn-eleditorial{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 11%;
  padding-bottom: 27%;
  width: 105%;
  height: 105%;
}

.btn-cartsoblamesa{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 11%;
  padding-bottom: 27%;
  width: 105%;
  height: 105%;
}
}

@media screen and (max-width:767px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 5%;
  padding-bottom: 5%;
  width: 75%;
  height: 75%;
}

.btn-eleditorial{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 5%;
  padding-bottom: 5%;
  width: 75%;
  height: 75%;
}

.btn-cartsoblamesa{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 5%;
  padding-bottom: 5%;
  width: 75%;
  height: 75%;
}
}

@media screen and (max-width:700px){
  #biografiaTroiAlvarado{
    font-family: 'Dancing Script', cursiva;
    font-size: 17px;
  }
  #biografiaAndreaYan{
    font-family: 'Dancing Script', cursiva;
    font-size: 20px;
  }
  #btnvermasCienciaExpress{
    width: 50%;
    height: 60%;
    margin-bottom:1% ;
  }
  #btnvermasTertulias{
    width: 50%;
    height: 80%;
  } 
}

@media screen and (max-width:355px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 5%;
  padding-bottom: 5%;
  width: 85%;
  height: 85%;
}

.btn-eleditorial{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 5%;
  padding-bottom: 5%;
  width: 85%;
  height: 85%;
}

.btn-cartsoblamesa{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 5%;
  padding-bottom: 5%;
  width: 85%;
  height: 85%;
}
}

@media screen and (max-width:320px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 5%;
  padding-bottom: 5%;
  width: 90%;
  height: 90%;
}

.btn-eleditorial{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 5%;
  padding-bottom: 5%;
  width: 90%;
  height: 90%;
}

.btn-cartsoblamesa{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 5%;
  padding-bottom: 5%;
  width: 90%;
  height: 90%;
}
}

@media screen and (max-width:250px){
  /* BOTONES NUEVOS */
.btn-tugts{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 5%;
  padding-bottom: 3%;
  width: 100%;
  height: 100%;
}

.btn-eleditorial{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 5%;
  padding-bottom: 3%;
  width: 100%;
  height: 100%;
}

.btn-cartsoblamesa{
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 5%;
  padding-bottom: 3%;
  width: 100%;
  height: 100%;
}
}


