
#representantes1{
  height:410px;
}
#comunicacion1{
  height:400px;
}
#comunicacion2{
  height:400px;
}
#publicidad1{
  height:400px;
}
#disenografico1{
  height:400px;
  margin-bottom: 2%;
}
#turismo1{
  height:400px;
}
#sistemascomputacionales1{
  height:400px;
}
#cpa1{
  height:400px;
}
#ingmarketingynegociacion1{
  height:400px;
}

.slide {
	width: auto !important;
  height: auto !important;
  margin-top: 4% !important;
	margin-bottom: 10px !important; 
	align-items: center !important;
  cursor: pointer !important;
}

.owl-nav{
  height: 10px !important;
  position: relative !important;
  margin-top: -17% !important;
  margin-bottom: 15px !important;
  z-index: 1 !important;
}
.owl-prev{
  margin-right: 48% !important;
}
.owl-next{
  margin-left:48% !important;
}
span{
  color: rgb(20, 39, 209) !important; 
  font-size: 60px !important;
}





/* MEDIAS */
@media (max-width: 990px){ /*TOMAR EN CUENTA EL CSS DE estilos_talentos2*/
    .owl-nav{
      height: 10px;
      position: relative;
      margin-top: -25%;
      margin-bottom: 15px;
      z-index: 1;
    }
    .owl-prev{
      margin-right: 44%;
    }
    .owl-next{
      margin-left:44%;
    }
    #representantes1{
      height:380px;
    }
    #comunicacion1{
      height:380px;
    }
    #comunicacion2{
      height:380px;
    }
    #publicidad1{
      height:380px;
    }
    #disenografico1{
      height:380px;
      margin-bottom: 2%;
    }
    #turismo1{
      height:380px;
    }
    #sistemascomputacionales1{
      height:380px;
    }
    #cpa1{
      height:380px;
    }
    #ingmarketingynegociacion1{
      height:380px;
    }  
}




@media (max-width: 800px){ /*TOMAR EN CUENTA EL CSS DE estilos_talentos2*/
  .owl-prev{
    margin-right: 45%;
  }
  .owl-next{
    margin-left:45%;
  }
  #representantes1{
    height:405px;
  }
}




@media (max-width: 600px){ /*TOMAR EN CUENTA EL CSS DE estilos_talentos2*/
    .owl-prev{
      margin-right: 45%;
    }
    .owl-next{
      margin-left:45%;
    }
    #representantes1{
      height:430px;
    }
    #comunicacion1{
      height:430px;
    }
    #comunicacion2{
      height:430px;
    }
    #publicidad1{
      height:430px;
    }
    #disenografico1{
      height:430px;
      margin-bottom: 2%;
    }
    #turismo1{
      height:430px;
    }
    #sistemascomputacionales1{
      height:430px;
    }
    #cpa1{
      height:430px;
    }
    #ingmarketingynegociacion1{
      height:430px;
    } 
}





@media (max-width: 530px){ /*TOMAR EN CUENTA EL CSS DE estilos_talentos2*/
  .owl-prev{
    margin-right: 45%;
  }
  .owl-next{
    margin-left:45%;
  }
  #representantes1{
    height:430px;
  }
  #comunicacion1{
    height:430px;
  }
  #comunicacion2{
    height:430px;
  }
  #publicidad1{
    height:430px;
  }
  #disenografico1{
    height:430px;
    margin-bottom: 2%;
  }
  #turismo1{
    height:430px;
  }
  #sistemascomputacionales1{
    height:430px;
  }
  #cpa1{
    height:430px;
  }
  #ingmarketingynegociacion1{
    height:430px;
  } 
}









@media only screen and (max-width: 450px){ /*TOMAR EN CUENTA EL CSS DE estilos_talentos2*/
    .owl-nav{
      height: 10px;
      position: relative;
      margin-top: -40%;
      margin-bottom: 15px;
      z-index: 1;
    }  
    .owl-prev{
      margin-right: 45%;
    }
    .owl-next{
      margin-left:45%;
    }
    #representantes1{
      height:560px;
    }
    #comunicacion1{
      height:560px;
    }
    #comunicacion2{
      height:560px;
    }
    #publicidad1{
      height:560px;
    }
    #disenografico1{
      height:560px;
      margin-bottom: 2%;
    }
    #turismo1{
      height:560px;
    }
    #sistemascomputacionales1{
      height:560px;
    }
    #cpa1{
      height:560px;
    }
    #ingmarketingynegociacion1{
      height:560px;
    } 
}


@media only screen and (max-width: 380px){ /*TOMAR EN CUENTA EL CSS DE estilos_talentos2*/
  .owl-nav{
    height: 10px;
    position: relative;
    margin-top: -65%;
    margin-bottom: 15px;
    z-index: 1;
  }  
  .owl-prev{
    margin-right: 35%;
  }
  .owl-next{
    margin-left:35%;
  }
  #representantes1{
    height:560px;
  }
  #comunicacion1{
    height:600px;
    margin-bottom: 2%;
  }
  #comunicacion2{
    height:560px;
  }
  #publicidad1{
    height:560px;
  }
  #disenografico1{
    height:560px;
    margin-bottom: 2%;
  }
  #turismo1{
    height:560px;
  }
  #sistemascomputacionales1{
    height:560px;
  }
  #cpa1{
    height:560px;
  }
  #ingmarketingynegociacion1{
    height:560px;
  } 
}

 
