<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS -->
    <link rel="stylesheet" type="text/css" href="../assets/css/estilos_codigodeontologico.css">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!--Animación contenidos  https://www.antofernandez.com/animaciones-al-hacer-scroll-html-css-y-aos/-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>Código Deontológico</title>
</head>
<body>
    
    <div class="container-fluid bg-light" style=" padding: 0px 0px;">

        <div class="contend_1 text-center">
            <h1 id="title1">C&Oacute;DIGO DEONTOL&Oacute;GICO</h1>
        </div>
        <!--data-aos="fade-down"-->
        <div class="contend_2 text-center" >
            <br>
            <br>
            <iframe src="https://drive.google.com/file/d/1_rd4JCPmJ4xiONY5E3-_fqm27xVrcPZt/preview" width="80%" height="680"></iframe>
        </div>

        <div class="contend_3 text-center" >
            <br>
            <br>
            <a href="../index.html" class="bg-transparent " style="border: none; ">
                <img src="../imagenes/imgtalentos/REGRESAR-A-IN-INICIO-01.png" alt="felcharegresa" id="inicio" >
            </a>
        </div>
    
    
    </div>

     <!--Inicio de Script para animaciones de contenidos  https://www.antofernandez.com/animaciones-al-hacer-scroll-html-css-y-aos/-->
     <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
     <script>
         AOS.init();
     </script>

</body>
</html>
