<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1">
    <!--CSS -->
    <link rel="stylesheet" type="text/css" href="../assets/css/estilo_prog_musical.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    
   <!--Animación contenidos  https://www.antofernandez.com/animaciones-al-hacer-scroll-html-css-y-aos/-->
   <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>Programación Musical</title>
  </head>
  <body>
    <div class="container-fluid" style="padding: 0px;">  
      <div class="franja1">
          <b>PROGRAMACIÓN MUSICAL</b>
      </div>
      <div class="descripcion" data-aos="fade-up">
          <div class="cuadro_descripcion">
              <p class="parrafo"><b>
                  La U EnLínea te acompaña en todos tus momentos del día 24/7 porque nuestra programación es 
                  música para tus oídos, aquí encontrarás solo canciones sin locución y sin interrupciones.
                  Te invitamos a escuchar la selección musical que programamos para ti.
              </b></p>
          </div>
          <img src="../imagenes/imgprogramacionmusical/FLECHITA DE DESPLAZAMIENTO.png" alt="img/FLECHITA.png" class="img_flechita">
      </div>

    <!--PROGRAMAS-->
      <!--PROGRAMA 1-->
      <div class="Programa1">
        <div class="row" data-aos="fade-up">
          <div class="col-md-4 ">
            <div id="nombre1"><b>Romery Zurita</b></div>
            <img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/ROMERY-ZURITA-01.jpg"  class=" rounded-circle image-fluid fotos" id="Romery"> 
          </div>
          
          <div class=" col-md-8">
           <table class="tabla">
              <thead>
                <tr>
                  <th>ESTACIÓN NOCTURNA</th>
                  <th>HORARIO</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p class="parrafo">En este espacio abrigaremos los corazones en la oscuridad de la noche con una programación 
                      que te envuelve con mágicas sensaciones. Dedica canciones a las personas que quieres y comparte 
                      junto a Romery este momento de románticas canciones.</p>
                  </td>
                  <td>
                    <div class="borde_izquierdo" ></div>
                    <p class="hora text-center">Lunes a jueves 19h00 a 00h00 - 
                      Domingos 21h00 a 00h00.</p>           
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!--PROGRAMA 2-->
      <div class="Programa1">
        <div class="row" data-aos="fade-right">
          <div class="col-md-4">
            <div id="nombre2"><b>Lorena Paladines</b></div>
              <img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/Lorena-Paladines.png"  class="rounded-circle image-fluid fotos" id="Lorena">
          </div>
          
          <div class=" col-md-8">
           <table class="tabla">
              <thead>
                <tr>
                  <th>RECESO MUSICAL</th>
                  <th>HORARIO</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p class="parrafo">Para darte un respiro mientras recargas energías para el resto de tu jornada. 
                      Receso Musical tiene preparado para ti información, música para que te relajes y 
                      la compañía que necesitas junto a Lorena.</p>
                    
                  </td>
                  <td>
                    <div class="borde_izquierdo" ></div>
                      <p class="hora text-center">Lunes a viernes 12h00 a 15h00.</p> 
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!--PROGRAMA 3-->
      <div class="Programa1">
        <div class="row" data-aos="fade-right">
          <div class="col-md-4">
            <div id="nombre2"><b>Pierina Cabello</b></div>
            <img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/PIERINA-CABELLO-01.jpg" class="rounded-circle image-fluid fotos" id="Pierina"> 
          </div>
          
          <div class=" col-md-8">
           <table class="tabla">
              <thead>
                <tr>
                  <th>TUS MAÑANAS CON LA U</th>
                  <th>HORARIO</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p class="parrafo">Tus mañanas tendrán más energía gracias a Pierina, comparte tus mañanas con buena música, 
                      tips saludables, trucos de belleza y lo último del entretenimiento. 
                      Aprovecha nuestro Delivery Musical para complacerte con las canciones y dedicatorias 
                      que nos dejes en nuestro WhatsApp.</p>
                  </td>
                  <td>
                    <div class="borde_color borde_izquierdo" ></div>
                    <p class="hora text-center">Lunes a viernes 08h00 a 12h00</p>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!--PROGRAMA 4-->
      <div class="Programa2">      
          <div class="row" data-aos="fade-right">
            <div class="col-md-12">
              <table class="tabla">
                <thead>
                  <tr>
                    <th>SALÓN DEL INSOMNIO</th>
                    <th>HORARIO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><p class="parrafo">Largas tareas, noches de estudio, maratón de películas… No importa la razón de tu insomnio, 
                      aquí acompañaremos tu creatividad y desvelo con canciones que te ayuden a concentrar en terminar 
                      ese proyecto lo más pronto.</p>
                    </td>
                    <td>
                      <div class="borde_izquierdo" ></div>
                      <p class="hora text-center">Lunes a domingo de 00h00 a 05h00</p>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
           
          </div>
      </div>

      <!--PROGRAMA 5-->
      <div class="Programa2">      
        <div class="row" data-aos="fade-right">
          <div class="col-md-12">
            <table class="tabla">
              <thead>
                <tr>
                  <th>AMANECIENDO CON LA U</th>
                  <th>HORARIO</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p class="parrafo">
                      Llegó la hora de despertar, y La U Enlínea sabe lo que necesitas para despegarte de las sábanas 
                      ¡Vamos! Un día lleno de sorpresas te espera y mientras te preparas tenemos el mejor acompañamiento 
                      musical para ti.
                    </p>
                    
                  </td>
                  <td>
                    <div class="borde_izquierdo" ></div>
                    <p class="hora text-center">Lunes a domingo de 00h00 a 05h00</p>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>



      <!--PROGRAMA 6-->
      <div class="Programa2">      
        <div class="row" data-aos="fade-right">
          <div class="col-md-12">
            <table class="tabla">
              <thead>
                <tr>
                  <th>TRANSPORTE MUSICAL</th>
                  <th>HORARIO</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p class="parrafo">Mientras corres a la parada del bus, estas avanzando en el tráfico de la mañana o vas a pie 
                      hacia tu destino, La U Enlínea tiene preparado para ti la música más animada con ritmo latino y 
                      reggae que seguro dará color a tu trayecto diario. </p>
                    
                  </td>
                  <td>
                    <div class="borde_izquierdo" ></div>
                      <p class="hora text-center">Lunes a viernes de 06h00 a 06h00.</p>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
         
        </div>
      </div>

      <!--PROGRAMA 7-->
      <div class="Programa2">      
        <div class="row" data-aos="fade-right">
          <div class="col-md-12">
            <table class="tabla">
              <thead>
                <tr>
                  <th>ATARDECERES DE LA U</th>
                  <th>HORARIO</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><p class="parrafo"> 
                    Un bello atardecer naranja se refleja en el horizonte y ya casi acaba la jornada
                    ¿Tuviste un día duro? Tranquilo, llegó el momento de bajar las revoluciones y 
                    disfrutar de los atardeceres con La U.
                  </p>
                  </td>
                  <td>
                    <div class="borde_izquierdo" ></div>
                      <p class="hora text-center">Lunes a viernes de 15h00 a 19h00.</p>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!--PROGRAMA 8-->
      <div class="Programa2">      
        <div class="row" data-aos="fade-right">
          <div class="col-md-12">
            <table class="tabla">
              <thead>
                <tr>
                  <th>DISCOTECA ENLINEA</th>
                  <th>HORARIO</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p class="parrafo">Llegó el fin de semana y con él tus pies alcanzan el ritmo de la buena música, 
                      un plan de viernes o de sábado de noche es lo que necesitas ¿Qué tal si sintonizas La U Enlínea 
                      y nos ponemos a bailar?.</p>
                  </td>
                  <td>
                    <div class="borde_izquierdo" ></div>
                      <p class="hora text-center">Viernes y sábado de 19h00 a 23h00.</p>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
         
        </div>
      </div>

      <!--PROGRAMA 9-->
      <div class="Programa2">      
        <div class="row" data-aos="fade-right">
          <div class="col-md-12">
            <table class="tabla">
              <thead>
                <tr>
                  <th>SOUNDTRACKS</th>
                  <th>HORARIO</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><p class="parrafo">Las mejores películas para un sábado y domingo por la tarde están en este espacio… 
                    oh pero si estamos en la radio!!! … sí! Los soundtracks de las mejores películas están 
                    en este espacio, disfruta y revive las escenas más épicas del mundo del cine gracias a sus 
                    hermosas canciones.</p>
                  </td>
                  <td>
                    <div class="borde_izquierdo" ></div>
                      <p class="hora text-center">Sábados y domingos de 14h00 a 16h00.</p>
                    </td>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
         
        </div>
      </div>

      <!--PROGRAMA 10-->
      <div class="Programa2">      
        <div class="row" data-aos="fade-right">
          <div class="col-md-12">
            <table class="tabla">
              <thead>
                <tr>
                  <th>INTENSIVO MUSICAL</th>
                  <th>HORARIO</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p class="parrafo">Todos los fines de semana prepárate para escuchar lo mejor de todos los géneros musicales 
                      y no te pierdas de este intensivo musical, ponte al día con los últimos hits, enamórate, baila, 
                      sonríe y relájate gracias al variado contenido que La U Enlínea tiene para ti.</p>
                    
                  </td>
                  <td>
                    <div class="borde_izquierdo" ></div>
                      <p class="hora text-center"> Sábados y domingos de 10h00 a 14h00.</p>
                   </td>
                </tr>
              </tbody>
            </table>
          </div>
         
        </div>
      </div>

      <div class="contend_3 container-fluid" style="padding: 0px 0px;">
        <a href="../view/nuestrosprogramas.html" style="text-decoration: none;">
            <img src="../imagenes/imgprogramacionmusical/PAGINA ANTERIOR-01.png" alt="Regresar al inicio"  id="regresanuestrosprogramas">
        </a>
    </div>   


  </div>
    

      <!--Inicio de Script para animaciones de contenidos  https://www.antofernandez.com/animaciones-al-hacer-scroll-html-css-y-aos/-->
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
          AOS.init();
      </script>

  </body>
</html>