<!doctype html>

<html lang="es">
<head>
 <!-- Required meta tags -->
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <!--CSS -->
 <link rel="stylesheet" type="text/css" href="../assets/css/estilos_talentos2.css">
 <link rel="stylesheet" type="text/css" href="../assets/css/estilos_talentos2-carrusel.css">

 <!-- Bootstrap CSS -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
 
  

 <!-- Recursos carrusel -->
  <link rel="stylesheet" href="../assets/recursos-carrusel-talentos/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/recursos-carrusel-talentos/css/owlcarousel/owl.carousel.min.css">
  <link rel="stylesheet" href="../assets/recursos-carrusel-talentos/css/owlcarousel/owlcarousel/owl.theme.default.min.css">


  <!--Animación contenidos  https://www.antofernandez.com/animaciones-al-hacer-scroll-html-css-y-aos/-->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <title>Talentos </title>
</head>

<body>

<!--RECURSOS DE CARRUSEL PANTALLAS-->
<script src="../assets/recursos-carrusel-talentos/js/jquery-3.5.1.min.js"></script>
<script src="../assets/recursos-carrusel-talentos/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="../assets/recursos-carrusel-talentos/js/owlcarousel/owl.carousel.min.js"></script>
<script src="../assets/recursos-carrusel-talentos/js/owlCarousel2Rows.js"></script>


<!--CARRUSEL PANTALLAS-->
<script src="../assets/scripts/js/js-carreras-carrusel/carrusel-pantallas-comunicacion.js"></script>
<script src="../assets/scripts/js/js-carreras-carrusel//carrusel-pantallas-cpa.js"></script>
<script src="../assets/scripts/js/js-carreras-carrusel/carrusel-pantallas-disenografico.js"></script>
<script src="../assets/scripts/js/js-carreras-carrusel/carrusel-pantallas-ingmarketingynegociacion.js"></script>
<script src="../assets/scripts/js/js-carreras-carrusel/carrusel-pantallas-ingsistemascomputacionales.js"></script>
<script src="../assets/scripts/js/js-carreras-carrusel/carrusel-pantallas-publicidadYmercadotecnia.js"></script>
<script src="../assets/scripts/js/js-carreras-carrusel/carrusel-pantallas-representantes.js"></script>
<script src="../assets/scripts/js/js-carreras-carrusel/carrusel-pantallas-turismo.js"></script>




<!--RECURSOS PARA CARRUSEL https://owlcarousel2.github.io/OwlCarousel2/docs/started-installation.html  ---   https://www.youtube.com/watch?v=SJx1ne3jn30 -->
<script src="jquery.min.js"></script>
<script src="owlcarousel/owl.carousel.min.js"></script>





<div class="container-fluid" >
		<div class="contend_1 text-center" style="margin: 0px 0px;">
			<h1 class="title1">TALENTOS</h1>
		</div>

		<div class="contend_3 text-center" >
            
			<div class="row ">             
                    <div id="representantes1" class="owl-carousel owl-theme mb-3 " > 
                                           
                            <div class=" slide "  data-slide-index="0">

                                <img src="../imagenes/talentosedit/FC-CIENCIAS-ADMINISTRATIVAS/CPA/Maria-Paulina-Brito-01.jpg" class=" rounded-circle foto" alt="mariapaulinabrito-conductora-coordinacion" onmouseenter="si_represntante1(this)"  onmouseleave="no_represntante1(this)">
                                    <div class="contenidoimagnes ">
                                        <div class=" cajagrande fondodecaja" id="ptr_represntante1">
                                            <h6 class="textotitulo">MAR&Iacute;A PAULINA BRITO</h6>
                                            <br>
                                            <p class="perfil">CONDUCTORA - COORDINACI&Oacute;N</p>
                                            <p class="programas">PROGRAMA: HOLA EMPRENDEDORES.</p>
                                        </div>
                                    </div> 
                            </div>
                            <div class=" slide "  data-slide-index="1">
                                <img src="../imagenes/talentosedit/FC-CIENCIAS-ADMINISTRATIVAS/ing-Marketing-y-Negociacion-Comercila/2021-ing-Marketing-y-Negociacion-Comercila/Elizabeth-Aveiga-01.jpg" class=" rounded-circle foto" alt="elizabetaveiga-conduct-libr" onmouseenter="si_represntante2(this)"  onmouseleave="no_represntante2(this)">
                                    <div class="contenidoimagnes ">
                                        <div class=" cajagrande fondodecaja" id="ptr_represntante2">
                                            <h6 class="textotitulo">ELIZABETH AVEIGA</h6>
                                            <br>
                                            <p class="perfil">CONDUCTORA - LIBRETOS</p>
                                            <p class="programas">PROGRAMA: HOLA EMPRENDEDORES.</p>
                                        </div>
                                    </div> 
                            </div>
                            <div class=" slide "  data-slide-index="2">
                                <img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/Henry-Carrascal-01.jpg" class=" rounded-circle foto" alt="henrycarrascal" onmouseenter="si_represntante3(this)"  onmouseleave="no_represntante3(this)">
                                    <div class="contenidoimagnes ">
                                        <div class=" cajagrande fondodecaja" id="ptr_represntante3">
                                            <h6 class="textotitulo">HENRY CARRASCAL</h6>
                                            <br>
                                            <p class="perfil">CONDUCTOR</p>
                                            <p class="programas">PROGRAMA: M&Aacute;S DE TI.</p>
                                        </div>
                                    </div> 
                            </div>
                            <div class=" slide "  data-slide-index="3">
                                <img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Lcdo. Troi Alvarado Chávez.png" class=" rounded-circle foto" alt="troialvaradochavez" onmouseenter="si_represntante4(this)"  onmouseleave="no_represntante4(this)">
                                    <div class="contenidoimagnes ">
                                        <div class=" cajagrande fondodecaja" id="ptr_represntante4">
                                            <h6 class="textotitulo" style="font-size: 14px;">LCDO. TROI ALVARADO CH&Aacute;VEZ</h6>
                                            <br>
                                            <p class="perfil">CONDUCCI&Oacute;N</p> 
                                            <p class="programas">PROGRAMA: CAF&Eacute; DE LA CIENCIA EXPRESS.</p>
                                        </div>
                                    </div> 
                            </div>
                            <!--<div class=" slide "  data-slide-index="4">
                                <img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Pamela Mendoza.png" class=" rounded-circle foto" alt="pamelamendoza-conduccion" onmouseenter="si_represntante5(this)"  onmouseleave="no_represntante5(this)">
                                    <div class="contenidoimagnes ">
                                        <div class=" cajamediana fondodecaja" id="ptr_represntante5">
                                            <h6 class="textotitulo">PAMELA MENDOZA</h6>
                                            <br>
                                            <p class="perfil">CONDUCCI&Oacute;N</p>
                                            <p class="programas">PROGRAMA: TURISMO DE MENTE.</p>
                                        </div>
                                    </div>
                            </div>-->
                            <div class=" slide "  data-slide-index="5">
                                <img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/Pedro-Alvarado.png" class=" rounded-circle foto" alt="pedroalvarado-conductor" onmouseenter="si_represntante6(this)"  onmouseleave="no_represntante6(this)">
                                    <div class="contenidoimagnes ">
                                        <div class=" cajagrande fondodecaja" id="ptr_represntante6">
                                            <h6 class="textotitulo">PEDRO ALVARADO</h6>
                                            <br>
                                            <p class="perfil">CONDUCTOR</p>
                                            <p class="programas">PROGRAMA: THE UG´S TALENT SHOW.</p>
                                        </div>
                                </div> 
                            </div>
                            <div class=" slide "  data-slide-index="6">
                                <img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/SAMUEL-GUILLEN-01.jpg" class=" rounded-circle foto" alt="samuelguillen-conduccion" onmouseenter="si_represntante7(this)"  onmouseleave="no_represntante7(this)">
                                    <div class="contenidoimagnes ">
                                        <div class=" cajagrande fondodecaja" id="ptr_represntante7">
                                            <h6 class="textotitulo">SAMUEL GUILLEN</h6>
                                            <br>
                                            <p class="perfil">CONDUCCI&Oacute;N</p>
                                            <p class="programas">PROGRAMA: TURISMO DE MENTE.</p>
                                        </div>
                                    </div> 
                            </div>

                            <div class="slide" data-slide-index="4"> 
                                <img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/Conductora-Jeoconda-Loor-01.jpg" class="rounded-circle fotopracticante" alt="Joconda-Loor" onmouseenter="si_comunicacion15(this)"  onmouseleave="no_comunicacion15(this)">
                                    <div class="contenidoimagnes">
                                        <div class=" cajagrande fondodecaja" id="ptr_comunicacion15">
                                            <h6 class="textotitulo">JEOCONDA LOOR</h6>
                                            <br>
                                                <p class="perfil">CONDUCTORA</p>
                                                <p class="programas">PROGRAMA: LAS CARTAS SOBRE LA MESA.</p>
                                        </div>
                                    </div> 
                            </div>
                    </div>                                
            </div>   
		</div>
        
        




		<div class="contend_2  text-center" style="margin: 0px 0px;" >
            <h1 class="title2">CICLO I-2021-2022</h1>
        </div>
        
        <div class="contend_1 text-center" style="margin: 0px 0px;"  >
            <h3 class="title1">FACULTAD DE COMUNICACIÓN SOCIAL</h3>
			<h4 class="carrera">CARRERA DE COMUNICACIÓN</h4>
        </div> 

        <div class="contend_3 text-center" >   
            <!--CARRUSEL 3-->
				<div class="row text-center">
					<div id="comunicacion1" class="owl-carousel owl-theme mb-3">
						<div class="slide" data-slide-index="0">
							<img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/ROMERY-ZURITA-01.jpg" class="rounded-circle fotopracticante "  alt="Romery-Zurita-locucion" onmouseenter="si_comunicacion1(this)"  onmouseleave="no_comunicacion1(this)">
                                 <div class="contenidoimagnes">
                                    <div class=" cajagrande fondodecaja" id="ptr_comunicacion1">
                                        <h6 class="textotitulo">ROMERY ZURITA</h6>
                                            <br>
                                            <p class="perfil">CONDUCTORA Y COORDINADORA</p>
                                            <p class="programas">PROGRAMAS: ENL&Iacute;NEA CON LA U - LAS CARTAS SOBRE LA MESA.</p>
                                        </div>
                                    </div> 
						</div>
						<div class="slide" data-slide-index="1">
							<img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/ANDREA-YAN-1-01.jpg" class="rounded-circle fotopracticante " alt="Andrea-Yan-conductora" onmouseenter="si_comunicacion2(this)"  onmouseleave="no_comunicacion2(this)">
                                <div class="contenidoimagnes">
                                    <div class=" cajagrande fondodecaja" id="ptr_comunicacion2">
                                        <h6 class="textotitulo">ANDREA YAN</h6>
                                        <br>
                                        <p class="perfil">CONDUCTORA</p>
                                        <p class="programas">PROGRAMAS: ENLÍNEA CON LA U - TERTULIAS.</p>
                                    </div>
                                </div> 
						</div>
						<div class="slide" data-slide-index="2"> 
							<img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/LAURA-LOZANO-01.jpg" class="rounded-circle fotopracticante " alt="Laura-Lozano-conductora" onmouseenter="si_comunicacion3(this)"  onmouseleave="no_comunicacion3(this)">
                                <div class="contenidoimagnes">
                                    <div class=" cajamediana fondodecaja" id="ptr_comunicacion3">
                                        <h6 class="textotitulo">LAURA LOZANO</h6>
                                        <br>
                                        <p class="perfil">CONDUCTORA</p>
                                        <p class="programas">PROGRAMAS: ENLÍNEA CON LA U.</p>
                                    </div>
                                </div>
						</div>
						<div class="slide" data-slide-index="3">
							<img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/PIERINA-CABELLO-01.jpg" class="rounded-circle fotopracticante " alt="pierina-locutora" onmouseenter="si_comunicacion4(this)"  onmouseleave="no_comunicacion4(this)">
                                <div class="contenidoimagnes">
                                    <div class=" cajagrande fondodecaja" id="ptr_comunicacion4">
                                        <h6 class="textotitulo">PIERINA CABELLO</h6>
                                        <br>
                                        <p class="perfil">LOCUTORA</p> 
                                        <p class="programas">PROGRAMA: TUS MAÑANAS CON LA U.</p>
                                    </div>
                                </div> 
						</div>
						<div class="slide" data-slide-index="4"> 
							<img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL//Comunicacion/2021-comunicacion/Calet-Suárez-01.jpg" class="rounded-circle fotopracticante" alt="Calet-Suarez-redacyloc-invpantmont" onmouseenter="si_comunicacion5(this)"  onmouseleave="no_comunicacion5(this)">
                                <div class="contenidoimagnes">
                                    <div class=" cajagrande fondodecaja" id="ptr_comunicacion5">
                                        <h6 class="textotitulo">CALET SU&Aacute;REZ</h6>
                                            <br>
                                            <p class="perfil">PRESENTADOR</p>
                                            <p class="programas">PROGRAMAS: BOLET&Iacute;N DE LA U - LOS REPORTAJES DE LA U.</p>
                                    </div>
                                </div> 
						</div>
						<div class="slide" data-slide-index="5">
							<img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/FRANCISCO-GALLO-01.jpg" class="rounded-circle fotopracticante" alt="Francisco-Gallo-conuctor" onmouseenter="si_comunicacion6(this)"  onmouseleave="no_comunicacion6(this)">
                                <div class="contenidoimagnes">
                                    <div class=" cajagrande fondodecaja" id="ptr_comunicacion6">
                                        <h6 class="textotitulo">FRANCISCO GALLO</h6>
                                            <br>
                                            <p class="perfil">CONDUCTOR - LOCUTOR</p>
                                            <p class="programas">PROGRAMAS: ENL&Iacute;NEA CON LA U - ART&Iacute;STICAS Y PROMOS.</p>
                                    </div>
                                </div>
						</div>
						<div class="slide" data-slide-index="6">
							<img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/Vannessa-Andocilla.png" class="rounded-circle fotopracticante" alt="Vanessa-Andocilla-pendiente" onmouseenter="si_comunicacion7(this)"  onmouseleave="no_comunicacion7(this)">
                                <div class="contenidoimagnes">
                                    <div class=" cajagrande fondodecaja" id="ptr_comunicacion7">
                                        <h6 class="textotitulo">VANESSA ANDOCILLA</h6>
                                            <br>
                                            <p class="perfil">LOCUTORA</p>
                                            <p class="programas">PROGRAMA: SOUNDTRACK.</p>
                                    </div>
                                </div> 
						</div>
						<div class="slide" data-slide-index="7">
							<img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/Astrid Zambrano-01.jpg" class="rounded-circle fotopracticante" alt="Astrid-Zambrano-redaccionylocu" onmouseenter="si_comunicacion8(this)"  onmouseleave="no_comunicacion8(this)">
								<div class="contenidoimagnes">
									<div class=" cajagrande fondodecaja" id="ptr_comunicacion8">
										<h6 class="textotitulo">ASTRID ZAMBRANO</h6>
                                        <br>
										<p class="perfil">PRESENTADORA Y EDITORA</p>
										<p class="programas">PROGRAMAS: BOLETIN DE LA U - PROMOS Y ART&Iacute;STICA.</p>
									</div>
								</div>
						</div>
                        <div class="slide" data-slide-index="8">
							<img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/LUIS BANCHON-01.jpg" class="rounded-circle fotopracticante" alt="Luís-Banchón" onmouseenter="si_comunicacion9(this)"  onmouseleave="no_comunicacion9(this)">
								<div class="contenidoimagnes">
									<div class=" cajagrande fondodecaja" id="ptr_comunicacion9">
										<h6 class="textotitulo">LUIS BANCHÓN</h6>
                                        <br>
										<p class="perfil">EDITOR Y CONTROL SONIDO</p>
										<p class="programas">PROGRAMAS: M&Aacute;S DE TI - THE UG´S TALENT SHOW.</p>
									</div>
								</div>
						</div>
                        <div class="slide" data-slide-index="9">
							<img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/Lorena-Paladines.png" class="rounded-circle fotopracticante" alt="Luís-Banchón" onmouseenter="si_comunicacion10(this)"  onmouseleave="no_comunicacion10(this)">
								<div class="contenidoimagnes">
									<div class=" cajagrande fondodecaja" id="ptr_comunicacion10">
										<h6 class="textotitulo">LORENA PALADINES</h6>
										<p class="perfil">ASISTENTE DE PRODUCCIÓN Y LOCUTORA</p>
										<p class="programas ">PROGRAMA: EL CAFÉ DE LA CIENCIA EXPRESS Y RECESO MUSICAL.</p>
									</div>
								</div>
						</div>
					</div>
				</div>

            <!--CARRUSEL 4-->
                <div class="row text-center" >
					<div id="comunicacion2" style="padding-top: 2%; margin-top: 2%;" class="owl-carousel owl-theme mb-3" >
						<!--<div class=" slide "  data-slide-index="0">
							<img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion//2021-comunicacion/Asistente-de-Producción-Karen Franco-01.jpg" class="rounded-circle fotopracticante "  alt="Karen-Franco" onmouseenter="si_comunicacion11(this)"  onmouseleave="no_comunicacion11(this)">
                                 <div class="contenidoimagnes">
                                    <div class=" cajaspeque fondodecaja" id="ptr_comunicacion11">
                                        <h6 class="textotitulo">KAREN FRANCO</h6>
                                        <p class="perfil">ASISTENTE DE PRODUCCIÓN</p>
                                        <p class="programas">PROGRAMA: TURISMO DE MENTE</p>
                                    </div>
                                </div> 
						</div>-->
						<div class="slide" data-slide-index="1">
							<img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/Coordinadora-Brillitte-España-01.jpg" class="rounded-circle fotopracticante " alt="Brillitte-España" onmouseenter="si_comunicacion12(this)"  onmouseleave="no_comunicacion12(this)">
                                <div class="contenidoimagnes">
                                    <div class=" cajagrande fondodecaja" id="ptr_comunicacion12">
                                        <h6 class="textotitulo">BRILLITTE-ESPAÑA</h6>
                                        <br>
                                        <p class="perfil">COORDINADORA - C&Aacute;PSULA</p>
                                        <p class="programas">PROGRAMAS: M&Aacute;S DE TI - CAF&Eacute; DE LA CIENCIA EXPRESS.</p>
                                    </div>
                                </div> 
						</div>
						<div class="slide" data-slide-index="2"> 
							<img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/Productor-Samuel-Soria-01.jpg" class="rounded-circle fotopracticante " alt="Samuel-Soria" onmouseenter="si_comunicacion13(this)"  onmouseleave="no_comunicacion13(this)">
                                <div class="contenidoimagnes">
                                    <div class=" cajamediana fondodecaja" id="ptr_comunicacion13">
                                        <h6 class="textotitulo">SAMUEL SORIA</h6>
                                        <br>
                                        <p class="perfil">PRODUCTOR</p>
                                        <p class="programas">PROGRAMA: M&Aacute;S DE TI.</p>
                                    </div>
                                </div>
						</div>
						<div class="slide" data-slide-index="3">
							<img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/CARLA VERDESOTO-01.jpg" class="rounded-circle fotopracticante " alt="Jennifer-Delgado" onmouseenter="si_comunicacion14(this)"  onmouseleave="no_comunicacion14(this)">
                                <div class="contenidoimagnes">
                                    <div class=" cajamediana fondodecaja" id="ptr_comunicacion14">
                                        <h6 class="textotitulo">KARLA VERDESOTO</h6>
                                        <br>
                                        <p class="perfil">CONDUCTORA</p> 
                                        <p class="programas">PROGRAMA: TURISMO DE MENTE.</p>
                                    </div>
                                </div> 
						</div>
						
						<div class="slide" data-slide-index="5">
							<img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/Karelés-Ivette-Cangá-Tumbaco-01.jpg" class="rounded-circle fotopracticante" alt="Francisco-Gallo-conuctor" onmouseenter="si_comunicacion16(this)"  onmouseleave="no_comunicacion16(this)">
                                <div class="contenidoimagnes">
                                    <div class=" cajamediana fondodecaja" id="ptr_comunicacion16">
                                        <h6 class="textotitulo">KAREL&Eacute;S CANG&Aacute;</h6>
                                            <br>
                                            <p class="perfil">LOCUTORA</p>
                                            <p class="programas">PROGRAMA: ESTACI&Oacute;N NOCTURNA.</p>
                                    </div>
                                </div>
						</div>


						<div class="slide" data-slide-index="6">
							<img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/NOEMÍ LINDAO - PROGRAMADORA STREAMING-01.jpg" class="rounded-circle fotopracticante" alt="Vanessa-Andocilla" onmouseenter="si_comunicacion17(this)"  onmouseleave="no_comunicacion17(this)">
                                <div class="contenidoimagnes">
                                    <div class=" cajaspeque fondodecaja" id="ptr_comunicacion17">
                                        <h6 class="textotitulo">NOEMÍ LINDAO</h6>
                                            <br>
                                            <p class="perfil">PROGRAMADORA DE STREAMING</p>
                                            
                                    </div>
                                </div> 
						</div>

						<div class="slide" data-slide-index="7">
							<img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Nathaly Abad- programa Mas de Ti-01.jpg" class="rounded-circle fotopracticante" alt="Astrid-Zambrano-redaccionylocu" onmouseenter="si_comunicacion18(this)"  onmouseleave="no_comunicacion18(this)">
								<div class="contenidoimagnes">
									<div class=" cajagrande fondodecaja" id="ptr_comunicacion18">
										<h6 class="textotitulo">NATHALYA ABAD</h6>
                                        <br>
										<p class="perfil">PRESENTADORA</p>
										<p class="programas">PROGRAMAS: BOLET&Iacute;N DE LA U - LOS REPORTAJES DE LA U.</p>
									</div>
								</div>
						</div>

<!--
                        <div class="slide" data-slide-index="8">
							<img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/Astrid Zambrano-01.jpg" class="rounded-circle fotopracticante" alt="Astrid-Zambrano-redaccionylocu" onmouseenter="si_comunicacion19(this)"  onmouseleave="no_comunicacion19(this)">
								<div class="contenidoimagnes">
									<div class=" cajagrande fondodecaja" id="ptr_comunicacion19">
										<h6 class="textotitulo">ASTRID ZAMBRANO</h6>
										<p class="perfil">PRESENTADORA Y EDITORA</p>
										<p class="programas">PROGRAMAS: BOLETIN DE LA U - PROMOS Y ART&Iacute;STICA.</p>
									</div>
								</div>
						</div>
                        <div class="slide" data-slide-index="9">
							<img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/Astrid Zambrano-01.jpg" class="rounded-circle fotopracticante" alt="Astrid-Zambrano-redaccionylocu" onmouseenter="si_comunicacion20(this)"  onmouseleave="no_comunicacion20(this)">
								<div class="contenidoimagnes">
									<div class=" cajagrande fondodecaja" id="ptr_comunicacion20">
										<h6 class="textotitulo">ASTRID ZAMBRANO</h6>
										<p class="perfil">PRESENTADORA Y EDITORA</p>
										<p class="programas">PROGRAMAS: BOLETIN DE LA U - PROMOS Y ART&Iacute;STICA.</p>
									</div>
								</div>
						</div>
-->

					</div>
				</div>


                    



                    <div class="contend_1 text-center" style="margin-top: 2%;"  >
                        <h4 class="title1">CARRERA DE PUBLICIDAD Y MERCADOTECNIA</h4>
                    </div> 	
    
                     <!--CARRUSEL 5-->
                    <div class="row text-center" >
                        <div id="publicidad1" style="padding-top: 1%; margin-top: 1%;" class="owl-carousel owl-theme mb-3">
                            <div class="slide" data-slide-index="0">
                                <img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/PublicidadYmercadotecnia/2021-PublicidadYmercadotecnia/community manager- Hillary Soriano.jpeg-01.jpg" class="rounded-circle fotopracticante" alt="Hillary Soriano" onmouseenter="si_publicidadYmercadotecnia1(this)"  onmouseleave="no_publicidadYmercadotecnia1(this)">
                                    <div class="contenidoimagnes">
                                        <div class=" cajaspeque fondodecaja" id="ptr_publicidadYmercadotecnia1">
                                            <h6 class="textotitulo">HILLARY SORIANO</h6>
                                            <br>
                                            <p class="perfil">COMMMUNITY MANAGER</p>
                                        </div>
                                    </div> 
                            </div>
                            <div class=" slide"  data-slide-index="1">
                                <img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/PublicidadYmercadotecnia/2021-PublicidadYmercadotecnia/Social-Media-Manager-Joshua-Herrera-01.jpg" class="rounded-circle fotopracticante" alt="Joshua-Herrera" onmouseenter="si_publicidadYmercadotecnia2(this)"  onmouseleave="no_publicidadYmercadotecnia2(this)">
                                    <div class="contenidoimagnes">
                                        <div class=" cajaspeque fondodecaja" id="ptr_publicidadYmercadotecnia2">
                                            <h6 class="textotitulo">JOSHUA HERRERA</h6>
                                            <br>
                                            <p class="perfil">SOCIAL MEDIA MANAGER</p>
                                        </div>
                                    </div>
                            </div>
                            <div class="slide" data-slide-index="2">
                                <img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/PublicidadYmercadotecnia/2021-PublicidadYmercadotecnia/Ejecutiva de Cuenta y Community Manager- Genesis Morales.jpeg-01.jpg" class="rounded-circle fotopracticante" alt="Genesis-Morales" onmouseenter="si_publicidadYmercadotecnia3(this)"  onmouseleave="no_publicidadYmercadotecnia3(this)">
                                    <div class="contenidoimagnes">
                                        <div class=" cajamediana fondodecaja" id="ptr_publicidadYmercadotecnia3">
                                            <h6 class="textotitulo">GENESIS MORALES</h6>
                                            <br>
                                            <p class="perfil">EJECUTIVA DE CUENTAS Y COMMUNITY MANAGER</p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>





                    <div class="contend_1 text-center"   >
                        <h4 class="title1">CARRERA DISEÑO GR&Aacute;FICO</h4>
                    </div> 	
    
                     <!--CARRUSEL 5-->
                    <div class="row text-center" >
                        <div id="disenografico1" style="padding-top: 1%; margin-top: 1%;" class="owl-carousel owl-theme ">
                            <div class="slide" data-slide-index="0">
                                <img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Diseño-Gráfico/2021-Diseño-Gráfico/Control Máster - Editor- Francisco zambrano.jpeg-01.jpg" class="rounded-circle fotopracticante" alt="Francisco-Zambrano" onmouseenter="si_disenografico1(this)"  onmouseleave="no_disenografico1(this)">
                                    <div class="contenidoimagnes">
                                        <div class=" cajaspeque fondodecaja" id="ptr_disenografico1">
                                            <h6 class="textotitulo">FRANCISCO ZAMBRANO</h6>
                                            <br>
                                            <p class="perfil">CONTROL MASTER - EDITOR</p>
                                        </div>
                                    </div> 
                            </div>
                            <div class=" slide"  data-slide-index="1">
                                <img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Diseño-Gráfico/2021-Diseño-Gráfico/Editora Animaciones - Doménica  Avilés-01.jpg" class="rounded-circle fotopracticante" alt="Doménica-Avilés" onmouseenter="si_disenografico2(this)"  onmouseleave="no_disenografico2(this)">
                                    <div class="contenidoimagnes">
                                        <div class=" cajaspeque fondodecaja" id="ptr_disenografico2">
                                            <h6 class="textotitulo">DOMÉNICA AVILÉS</h6>
                                            <br>
                                            <p class="perfil">EDITORA ANIMACIONES</p>
                                        </div>
                                    </div>
                            </div>
                            <div class="slide" data-slide-index="2">
                                <img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Diseño-Gráfico/2021-Diseño-Gráfico/Ilustrador  -  Adrian Salvador.jpeg-01.jpg" class="rounded-circle fotopracticante" alt="Adrian Salvador" onmouseenter="si_disenografico3(this)"  onmouseleave="no_disenografico3(this)">
                                    <div class="contenidoimagnes">
                                        <div class=" cajaspeque fondodecaja" id="ptr_disenografico3">
                                            <h6 class="textotitulo">ADRIAN SALVADOR</h6>
                                            <br>
                                            <p class="perfil">ILUSTRADOR</p>
                                        </div>
                                    </div>
                            </div>
                            <div class="slide" data-slide-index="3">
                                <img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Diseño-Gráfico/2021-Diseño-Gráfico/Ilustrador  - Gabriel Olmedo Muzo.jpeg-01.jpg" class="rounded-circle fotopracticante" alt="Gabriel Olmedo Muzo" onmouseenter="si_disenografico4(this)"  onmouseleave="no_disenografico4(this)">
                                    <div class="contenidoimagnes">
                                        <div class=" cajamediana fondodecaja" id="ptr_disenografico4">
                                            <h6 class="textotitulo">GABRIEL OLMEDO MUZO</h6>
                                            <br>
                                            <p class="perfil">ILUSTRADOR</p>
                                        </div>
                                    </div>
                            </div>
                            <div class="slide" data-slide-index="4">
                                <img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Diseño-Gráfico/2021-Diseño-Gráfico/Ilustrador - Marco Andrés Espinosa-01.jpg" class="rounded-circle fotopracticante" alt="Marco-Espinoza" onmouseenter="si_disenografico5(this)"  onmouseleave="no_disenografico5(this)">
                                    <div class="contenidoimagnes">
                                        <div class=" cajaspeque fondodecaja" id="ptr_disenografico5">
                                            <h6 class="textotitulo">MARCO ESPINOSA</h6>
                                            <br>
                                            <p class="perfil">ILUSTRADOR</p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>






                    <div class="contend_1 text-center" >
                        <h4 class="title1">CARRERA DE TURISMO</h4>
                    </div> 	

                <!--CARRUSEL 6-->
                    <div class="row text-center" style="padding-top: 1%;">
                            <div id="turismo1" class="owl-carousel owl-theme text-center">
                                <div class="slide" data-slide-index="0">
                                    <img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion/2021-comunicacion/coordinadora-Jennifer-Delgado-01-01.jpg" class="rounded-circle fotopracticante" alt="erickmunoz-pagweb" onmouseenter="si_turismo1(this)"  onmouseleave="no_turismo1(this)">
                                        <div class="contenidoimagnes">
                                            <div class=" cajamediana fondodecaja" id="ptr_turismo1">
                                                <h6 class="textotitulo">JENNIFER DELGADO</h6>
                                                <br>
                                                <p class="perfil">COORDINADORA</p> 
                                                <p class="programas">PROGRAMA: TURISMO DE MENTE.</p>
                                            </div>
                                        </div> 
                                </div>
                                <div class=" slide"  data-slide-index="1">
                                    <img src="../imagenes/talentosedit/FC-COMUNICACION-SOCIAL/Comunicacion//2021-comunicacion/Asistente-de-Producción-Karen Franco-01.jpg" class="rounded-circle fotopracticante" alt="samanthamaisincho-pagweb" onmouseenter="si_turismo2(this)"  onmouseleave="no_turismo2(this)">
                                        <div class="contenidoimagnes">
                                            <div class=" cajamediana fondodecaja" id="ptr_turismo2">
                                                <h6 class="textotitulo">KAREN FRANCO</h6>
                                                <br>
                                                <p class="perfil">ASISTENTE DE PRODUCCIÓN</p>
                                                <p class="programas">PROGRAMA: TURISMO DE MENTE</p>
                                            </div>
                                        </div>
                                </div>
                                <!--<div class="slide" data-slide-index="2">
                                    <img src="../imagenes/talentosedit/FC-MATEMATICAYFISICA/IngSistemasComputacionales/SAMANTHA MAISINCHO-01.jpg" class="rounded-circle fotopracticante" alt="samanthamaisincho-pagweb" onmouseenter="si_turismo3(this)"  onmouseleave="no_turismo3(this)">
                                        <div class="contenidoimagnes">
                                            <div class=" cajaspeque fondodecaja" id="ptr_turismo3">
                                                <h6 class="textotitulo">SAMANTHA MAISINCHO</h6>
                                                <p class="perfil">DESARROLLADORA DE SOFTWARE</p>
                                            </div>
                                        </div>
                                </div>-->
                                
                            </div>
                    </div>



                    <div class="contend_1 text-center" style="margin: 0px 0px;"  >
                        <h3 class="title1">FACULTAD DE CIENCIAS MATEMÁTICAS Y FÍSICA</h3>
                        <h4 class="carrera">CARRERA DE INGENIERÍA EN SISTEMAS COMPUTACIONALES</h4>
                    </div> 	

                    <!--CARRUSEL 7-->
                    <div class="row text-center" style="padding-top: 1%;">
                            <div id="sistemascomputacionales1" class="owl-carousel owl-theme text-center">
                                <div class="slide" data-slide-index="0">
                                    <img src="../imagenes/talentosedit/FC-MATEMATICAYFISICA/IngSistemasComputacionales/ERICK MUÑOZ-01.jpg" class="rounded-circle fotopracticante" alt="erickmunoz-pagweb" onmouseenter="si_ingsistemascomputacionales1(this)"  onmouseleave="no_ingsistemascomputacionales1(this)">
                                        <div class="contenidoimagnes">
                                            <div class=" cajaspeque fondodecaja" id="ptr_ingsistemascomputacionales1">
                                                <h6 class="textotitulo">ERICK MUÑOZ</h6>
                                                <br>
                                                <p class="perfil">DESARROLLADOR DE SOFTWARE</p>
                                            </div>
                                        </div> 
                                </div>
                                <div class=" slide"  data-slide-index="1">
                                    <img src="../imagenes/talentosedit/FC-MATEMATICAYFISICA/IngSistemasComputacionales/SAMANTHA MAISINCHO-01.jpg" class="rounded-circle fotopracticante" alt="samanthamaisincho-pagweb" onmouseenter="si_ingsistemascomputacionales2(this)"  onmouseleave="no_ingsistemascomputacionales2(this)">
                                        <div class="contenidoimagnes">
                                            <div class=" cajaspeque fondodecaja" id="ptr_ingsistemascomputacionales2">
                                                <h6 class="textotitulo">SAMANTHA MAISINCHO</h6>
                                                <br>
                                                <p class="perfil">DESARROLLADORA DE SOFTWARE</p>
                                            </div>
                                        </div>
                                </div>
                                <div class="slide" data-slide-index="2">
                                    <img src="../imagenes/talentosedit/FC-MATEMATICAYFISICA/IngSistemasComputacionales/programador-Fernando-cañas-01.jpg" class="rounded-circle fotopracticante" alt="samanthamaisincho-pagweb" onmouseenter="si_ingsistemascomputacionales3(this)"  onmouseleave="no_ingsistemascomputacionales3(this)">
                                        <div class="contenidoimagnes">
                                            <div class=" cajaspeque fondodecaja" id="ptr_ingsistemascomputacionales3">
                                                <h6 class="textotitulo">FERNANDO CAÑAS</h6>
                                                <br>
                                                <p class="perfil">DESARROLLADOR DE SOFTWARE</p>
                                            </div>
                                        </div>
                                </div>
                                
                            </div>
                    </div>




                    <!--<div class="contend_1 text-center" style="margin: 0px 0px;"  >
                        <h3 class="title1">FACULTAD DE CIENCIAS ADMINISTRATIVAS</h3>
                        <h4 class="carrera">CARRERA DE CPA</h4>
                    </div>	

                    <!--CARRUSEL 8
                    <div class="row text-center" style="padding-top: 1%;">
                            <div id="cpa1" class="owl-carousel owl-theme text-center">
                                <div class="slide" data-slide-index="0">
                                    <img src="../imagenes/talentosedit/FC-MATEMATICAYFISICA/IngSistemasComputacionales/SAMANTHA MAISINCHO-01.jpg" class="rounded-circle fotopracticante" alt="erickmunoz-pagweb" onmouseenter="si_cpa1(this)"  onmouseleave="no_cpa1(this)">
                                        <div class="contenidoimagnes">
                                            <div class=" cajaspeque fondodecaja" id="ptr_cpa1">
                                                <h6 class="textotitulo">SAMANTHA MAISINCHO</h6>
                                                <p class="perfil">DESARROLLADOR DE SOFTWARE</p>
                                            </div>
                                        </div> 
                                </div>
                                <div class="slide" data-slide-index="1">
                                
                                </div>
                            </div>
                    </div>


                    <div class="contend_1 text-center" style="margin: 0px 0px;"  >
                        <h4 class="carrera">CARRERA INGENIERÍA EN MARKETING Y NEGOCIACIÓN COMERCIAL</h4>
                    </div> 	-->

                    <!--CARRUSEL 9
                    <div class="row text-center" style="padding-top: 1%;">
                        <div id="ingmarketingynegociacion1" class="owl-carousel owl-theme text-center">
                            <div class="slide" data-slide-index="0">
                                <img src="../imagenes/talentosedit/FC-MATEMATICAYFISICA/IngSistemasComputacionales/programador-Fernando-cañas-01.jpg" class="rounded-circle fotopracticante" alt="erickmunoz-pagweb" onmouseenter="si_ingmarketingYnegociacion1(this)"  onmouseleave="no_ingmarketingYnegociacion1(this)">
                                    <div class="contenidoimagnes">
                                        <div class=" cajaspeque fondodecaja" id="ptr_ingmarketingYnegociacion1">
                                            <h6 class="textotitulo">FERNANDO CAÑAS</h6>
                                            <p class="perfil">DESARROLLADOR DE SOFTWARE</p>
                                        </div>
                                    </div> 
                            </div>
                            <div class="slide" data-slide-index="1">
                                
                            </div>
                        </div>-->
                </div>

		</div>

        <div class="row contend_4" style=" margin: 0px 0px;">
            <div class="col-12 " style=" padding: 0px 0px;">
                    <a href="../view/conocenos.html" class="a_regresa">
                        <img class=" text-end " src="../imagenes/imgtalentos/PAGINA-ANTERIOR-01.png" alt="felcharegresa" id="flecharegresa" >
                    </a>
            </div>
        </div>
</div> 
		



<!--DETECCIÓN DE PUNTEROS-->
<script src="../assets/scripts/js/js-carreras-punteros/punteros-comunicacion.js"></script>
<script src="../assets/scripts/js/js-carreras-punteros/punteros-cpa.js"></script>
<script src="../assets/scripts/js/js-carreras-punteros/punteros-disenografico.js"></script>
<script src="../assets/scripts/js/js-carreras-punteros/punteros-ingmarketingYnegociacioncomercial.js"></script>
<script src="../assets/scripts/js/js-carreras-punteros/punteros-ingsistemascomputaciones.js"></script>
<script src="../assets/scripts/js/js-carreras-punteros/punteros-publicidadYmercadotecnia.js"></script>
<script src="../assets/scripts/js/js-carreras-punteros/punteros-representantes.js"></script>
<script src="../assets/scripts/js/js-carreras-punteros/punteros-turismo.js"></script>
      
      
      
<script src="../assets/scripts/js/botones-carrusel-talentos.js"></script>



<!--Inicio de Script para animaciones de contenidos  https://www.antofernandez.com/animaciones-al-hacer-scroll-html-css-y-aos/-->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
	AOS.init();
</script>


<!-- Bosstrap JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>